.prod-tab {
  overflow: hidden;
}
.prod-tab li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.prod-tab .on {
  background-color: #fff;
  color: #333;
}

.prod-tab-con {
  padding: 20px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.com-panel {
  padding-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;
}
.com-panel h4 {
  font-weight: normal;
  font-size: 14px;
}
.com-panel .com-cert {
  margin-bottom: 5px;
}
.com-panel .accnt {
  overflow: hidden;
}
.com-panel .accnt dt, .com-panel .accnt dd {
  float: left;
  line-height: 24px;
}
.com-panel .accnt dt {
  color: #999;
}
.com-panel .accnt dd {
  min-width: 70px;
}
.com-panel .accnt dd a {
  color: #333;
}
.com-panel .accnt dd a:hover {
  color: #e04b43;
}

.prod-lst {
  padding: 17px 0 20px;
  border-bottom: 1px solid #e6e6e6;
}
.prod-lst .prod-hd {
  margin-bottom: 12px;
  overflow: hidden;
}
.prod-lst .prod-hd h3 {
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.prod-lst .prod-bd {
  padding-left: 70px;
  overflow: hidden;
}
.prod-lst .prod-bd .prod-pic-wrap {
  float: left;
  display: table;
  width: 60px;
  margin-left: -70px;
}
.prod-lst .prod-bd .prod-pic-wrap .prod-pic {
  display: table-cell;
  vertical-align: middle;
}
.prod-lst .prod-bd .prod-pic-wrap .prod-pic img {
  width: 100%;
}
.prod-lst .prod-info {
  float: left;
  width: 100%;
}
.prod-lst .prod-info dt {
  width: 140px;
  height: 44px;
  font-size: 14px;
  overflow: hidden;
}
.prod-lst .prod-info dt a {
  color: #333;
}
.prod-lst .prod-info dt a:hover {
  color: #e04b43;
}
.prod-lst .prod-info dd {
  overflow: hidden;
}
.prod-lst .prod-info dd .prod-price {
  display: inline-block;
  margin-top: 4px;
  color: red;
}
.prod-lst .prod-info dd .btn {
  float: right;
}
