.prod-tab {
  overflow: hidden;
}
.prod-tab li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.prod-tab .on {
  background-color: #fff;
  color: #333;
}

.prod-tab-con {
  padding: 20px 30px;
  height: 590px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.prod-tab-con .prod-tip {
  margin-top: 140px;
  font-size: 16px;
  text-align: center;
  color: #666;
}
.prod-tab-con .prod-tip .iconfont-information {
  font-size: 20px;
  color: #ffb300;
}

.com-panel {
  padding-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;
}
.com-panel h4 {
  font-weight: normal;
  font-size: 14px;
}
.com-panel .com-cert {
  margin-bottom: 5px;
}
.com-panel .accnt {
  overflow: hidden;
}
.com-panel .accnt dt, .com-panel .accnt dd {
  float: left;
  line-height: 24px;
}
.com-panel .accnt dt {
  color: #999;
}
.com-panel .accnt dd {
  min-width: 70px;
}
.com-panel .accnt dd a {
  color: #333;
}
.com-panel .accnt dd a:hover {
  color: #e04b43;
}

.prod-lst-wrap {
  padding: 16px 0 5px;
}
.prod-lst-wrap .prod-hd {
  margin-bottom: 11px;
  overflow: hidden;
}
.prod-lst-wrap .prod-hd h3 {
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.prod-lst-wrap .prod-hd .order-time {
  color: #999;
  float: right;
}
.prod-lst-wrap .prod-lst li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.prod-lst-wrap .prod-lst li:last-child {
  margin-bottom: 0;
}
.prod-lst-wrap .prod-lst-history li {
  padding-bottom: 0;
  margin-bottom: 15px;
  border-bottom: none;
}
.prod-lst-wrap .prod-bd {
  padding-left: 70px;
  overflow: hidden;
}
.prod-lst-wrap .prod-bd .prod-pic-wrap {
  float: left;
  display: table;
  width: 60px;
  margin-left: -70px;
}
.prod-lst-wrap .prod-bd .prod-pic-wrap .prod-pic {
  display: table-cell;
  vertical-align: middle;
}
.prod-lst-wrap .prod-bd .prod-pic-wrap .prod-pic img {
  width: 100%;
}
.prod-lst-wrap .prod-info {
  float: left;
  width: 100%;
}
.prod-lst-wrap .prod-info dt {
  width: 140px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
}
.prod-lst-wrap .prod-info dt a {
  color: #333;
}
.prod-lst-wrap .prod-info dt a:hover {
  color: #e04b43;
}
.prod-lst-wrap .prod-info dd {
  overflow: hidden;
}
.prod-lst-wrap .prod-info dd .prod-price {
  display: inline-block;
  margin-top: 1px;
  font-size: 14px;
  color: red;
}
.prod-lst-wrap .prod-info dd .btn {
  float: right;
}
