.prod-tab {
  overflow: hidden;
}
.prod-tab li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.prod-tab .on {
  background-color: #fff;
  color: #333;
}

.prod-tab-con {
  padding: 20px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.com-panel {
  padding-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;
}
.com-panel h4 {
  font-weight: normal;
  font-size: 14px;
}
.com-panel .com-cert {
  margin-bottom: 5px;
}
.com-panel .accnt {
  overflow: hidden;
}
.com-panel .accnt dt, .com-panel .accnt dd {
  float: left;
  line-height: 24px;
}
.com-panel .accnt dt {
  color: #999;
}
.com-panel .accnt dd {
  min-width: 70px;
}
