@charset "UTF-8";
/*
* des: TM online interface
* author: liuyao
* update: 2017/8/3
*/
/* Based on [Eric Meyer's reset 2.0](http://meyerweb.com/eric/tools/css/reset/index.html) */
/* line 84, ../../sass/base/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 88, ../../sass/base/reset.scss */
body {
  line-height: 1;
}

/* line 91, ../../sass/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 94, ../../sass/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 97, ../../sass/base/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 100, ../../sass/base/reset.scss */
q, blockquote {
  quotes: none;
}
/* line 48, ../../sass/base/reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 103, ../../sass/base/reset.scss */
a img {
  border: none;
}

/* line 64, ../../sass/base/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*========== normal style ==========*/
/* line 4, ../../sass/base/common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../../sass/base/common.scss */
body {
  background-color: white;
  color: #4d4d4d;
  font: 12px/1.5 Arial, Helvetica, SimSun, sans-serif;
}

/* line 15, ../../sass/base/common.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  vertical-align: middle;
}

/* line 19, ../../sass/base/common.scss */
button {
  cursor: pointer;
}

/* line 22, ../../sass/base/common.scss */
table {
  width: 100%;
}

/* line 25, ../../sass/base/common.scss */
img {
  vertical-align: middle;
}

/*========== text ==========*/
/* line 30, ../../sass/base/common.scss */
h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

/* line 34, ../../sass/base/common.scss */
a {
  text-decoration: none;
}
/* line 37, ../../sass/base/common.scss */
a:link, a:visited {
  color: #0066dd;
}
/* line 40, ../../sass/base/common.scss */
a:hover {
  color: #e04b43;
  text-decoration: underline;
}

/* line 46, ../../sass/base/common.scss */
ol {
  margin-left: 1.6em;
  *margin-left: 2em;
}
/* line 51, ../../sass/base/common.scss */
ol li {
  list-style-type: decimal;
}

/* line 55, ../../sass/base/common.scss */
.fms {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

/* line 58, ../../sass/base/common.scss */
.fcn {
  font-family: SimSun;
}

/* line 61, ../../sass/base/common.scss */
.v-sep {
  color: #cccccc;
  margin: 0 5px;
}

/* line 65, ../../sass/base/common.scss */
.space {
  margin: 0 3px;
}

/*=========== solution =========*/
/* line 70, ../../sass/base/common.scss */
.clearfix {
  *zoom: 1;
}
/* line 75, ../../sass/base/common.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* line 82, ../../sass/base/common.scss */
.clearfix:after {
  clear: both;
}

/* line 88, ../../sass/base/common.scss */
.sl-vam {
  display: table;
  border-collapse: collapse;
  position: relative;
  *overflow: hidden;
}

/* line 96, ../../sass/base/common.scss */
.sl-vam-outer {
  display: table-cell;
  vertical-align: middle;
  *display: block;
  *position: absolute;
  *top: 50%;
  *left: 50%;
}

/* line 106, ../../sass/base/common.scss */
.sl-vam-inner {
  text-align: center;
  margin: 0 auto;
  *position: relative;
  *top: -50%;
  *left: -50%;
}

/* line 117, ../../sass/base/common.scss */
.img-txt, .img-txt .txt {
  overflow: hidden;
  *zoom: 1;
}
/* line 119, ../../sass/base/common.scss */
.img-txt .img {
  float: left;
  margin-right: 10px;
}

/* line 128, ../../sass/base/common.scss */
.txt {
  outline: 0;
}

/* line 133, ../../sass/base/common.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b7cceb;
}

/* line 137, ../../sass/base/common.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b7cceb;
}

/* line 141, ../../sass/base/common.scss */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b7cceb;
}

/* line 145, ../../sass/base/common.scss */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b7cceb;
}

/* color */
/* line 4, ../../sass/base/atom.scss */
.red {
  color: #e04b43;
}

/* line 7, ../../sass/base/atom.scss */
.green {
  color: #229900;
}

/* line 10, ../../sass/base/atom.scss */
.org {
  color: #c79528;
}

/* line 13, ../../sass/base/atom.scss */
.gray {
  color: #666666;
}

/* line 16, ../../sass/base/atom.scss */
.gray-light {
  color: #999999;
}

/* box model */
/* line 22, ../../sass/base/atom.scss */
.mt5 {
  margin-top: 5px;
}

/* line 25, ../../sass/base/atom.scss */
.mr5 {
  margin-right: 5px;
}

/* line 28, ../../sass/base/atom.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 31, ../../sass/base/atom.scss */
.ml5 {
  margin-left: 5px;
}

/* line 34, ../../sass/base/atom.scss */
.pt5 {
  padding-top: 5px;
}

/* line 37, ../../sass/base/atom.scss */
.pr5 {
  padding-right: 5px;
}

/* line 40, ../../sass/base/atom.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 43, ../../sass/base/atom.scss */
.pl5 {
  padding-left: 5px;
}

/* line 22, ../../sass/base/atom.scss */
.mt10 {
  margin-top: 10px;
}

/* line 25, ../../sass/base/atom.scss */
.mr10 {
  margin-right: 10px;
}

/* line 28, ../../sass/base/atom.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 31, ../../sass/base/atom.scss */
.ml10 {
  margin-left: 10px;
}

/* line 34, ../../sass/base/atom.scss */
.pt10 {
  padding-top: 10px;
}

/* line 37, ../../sass/base/atom.scss */
.pr10 {
  padding-right: 10px;
}

/* line 40, ../../sass/base/atom.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 43, ../../sass/base/atom.scss */
.pl10 {
  padding-left: 10px;
}

/* line 22, ../../sass/base/atom.scss */
.mt15 {
  margin-top: 15px;
}

/* line 25, ../../sass/base/atom.scss */
.mr15 {
  margin-right: 15px;
}

/* line 28, ../../sass/base/atom.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 31, ../../sass/base/atom.scss */
.ml15 {
  margin-left: 15px;
}

/* line 34, ../../sass/base/atom.scss */
.pt15 {
  padding-top: 15px;
}

/* line 37, ../../sass/base/atom.scss */
.pr15 {
  padding-right: 15px;
}

/* line 40, ../../sass/base/atom.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 43, ../../sass/base/atom.scss */
.pl15 {
  padding-left: 15px;
}

/* line 22, ../../sass/base/atom.scss */
.mt20 {
  margin-top: 20px;
}

/* line 25, ../../sass/base/atom.scss */
.mr20 {
  margin-right: 20px;
}

/* line 28, ../../sass/base/atom.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 31, ../../sass/base/atom.scss */
.ml20 {
  margin-left: 20px;
}

/* line 34, ../../sass/base/atom.scss */
.pt20 {
  padding-top: 20px;
}

/* line 37, ../../sass/base/atom.scss */
.pr20 {
  padding-right: 20px;
}

/* line 40, ../../sass/base/atom.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 43, ../../sass/base/atom.scss */
.pl20 {
  padding-left: 20px;
}

/* layout */
/* line 49, ../../sass/base/atom.scss */
.posr {
  position: relative;
}

/* line 52, ../../sass/base/atom.scss */
.posa {
  position: absolute;
}

/* line 55, ../../sass/base/atom.scss */
.poss {
  position: static;
}

/* line 58, ../../sass/base/atom.scss */
.hidden {
  visibility: hidden;
}

/* line 61, ../../sass/base/atom.scss */
.visible {
  visibility: visible;
}

/* line 64, ../../sass/base/atom.scss */
.db {
  display: block;
}

/* line 67, ../../sass/base/atom.scss */
.di {
  display: inline;
}

/* line 70, ../../sass/base/atom.scss */
.dib {
  display: inline-block;
}

/* line 73, ../../sass/base/atom.scss */
.dtb {
  display: table;
}

/* line 76, ../../sass/base/atom.scss */
.vat {
  vertical-align: top;
}

/* line 79, ../../sass/base/atom.scss */
.vam {
  vertical-align: middle;
}

/* line 82, ../../sass/base/atom.scss */
.vab {
  vertical-align: bottom;
}

/* line 85, ../../sass/base/atom.scss */
.vatt {
  vertical-align: text-top;
}

/* line 88, ../../sass/base/atom.scss */
.vatb {
  vertical-align: text-bottom;
}

/* line 91, ../../sass/base/atom.scss */
.tal {
  text-align: left;
}

/* line 94, ../../sass/base/atom.scss */
.tac {
  text-align: center;
}

/* line 97, ../../sass/base/atom.scss */
.tar {
  text-align: right;
}

/* line 100, ../../sass/base/atom.scss */
.fll {
  float: left;
}

/* line 103, ../../sass/base/atom.scss */
.flr {
  float: right;
}

/* line 106, ../../sass/base/atom.scss */
.fln {
  float: none;
}

/* line 109, ../../sass/base/atom.scss */
.fwn {
  font-weight: normal;
}

/* line 112, ../../sass/base/atom.scss */
.fwb {
  font-weight: bold;
}

@font-face {
  font-family: "iconfont";
  src: url("../../../fonts/iconfont.eot?t=1501730305739");
  /* IE9*/
  src: url("../../../fonts/iconfont.eot?t=1501730305739#iefix") format("embedded-opentype"), url("../../../fonts/iconfont.woff?t=1501730305739") format("woff"), url("../../../fonts/iconfont.ttf?t=1501730305739") format("truetype"), url("../../../fonts/iconfont.svg?t=1501730305739#iconfont") format("svg");
  /* iOS 4.1- */
}

/* line 10, ../../sass/base/fonts.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/* line 19, ../../sass/base/fonts.scss */
.iconfont-back:before {
  content: "\e697";
}

/* line 21, ../../sass/base/fonts.scss */
.iconfont-category:before {
  content: "\e699";
}

/* line 23, ../../sass/base/fonts.scss */
.iconfont-close:before {
  content: "\e69a";
}

/* line 25, ../../sass/base/fonts.scss */
.iconfont-help:before {
  content: "\e6a3";
}

/* line 27, ../../sass/base/fonts.scss */
.iconfont-information:before {
  content: "\e6a4";
}

/* line 29, ../../sass/base/fonts.scss */
.iconfont-less:before {
  content: "\e6a5";
}

/* line 31, ../../sass/base/fonts.scss */
.iconfont-moreunfold:before {
  content: "\e6a6";
}

/* line 33, ../../sass/base/fonts.scss */
.iconfont-more:before {
  content: "\e6a7";
}

/* line 35, ../../sass/base/fonts.scss */
.iconfont-refresh:before {
  content: "\e6aa";
}

/* line 37, ../../sass/base/fonts.scss */
.iconfont-search:before {
  content: "\e6ac";
}

/* line 39, ../../sass/base/fonts.scss */
.iconfont-set:before {
  content: "\e6ae";
}

/* line 41, ../../sass/base/fonts.scss */
.iconfont-success:before {
  content: "\e6b1";
}

/* line 43, ../../sass/base/fonts.scss */
.iconfont-warning:before {
  content: "\e6b6";
}

/* line 17, ../../sass/module/tm.scss */
body {
  background-color: #666;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
}

/* line 21, ../../sass/module/tm.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* line 26, ../../sass/module/tm.scss */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #c3c3c3;
}

/* line 33, ../../sass/module/tm.scss */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* line 37, ../../sass/module/tm.scss */
.wrap {
  padding-top: 100px;
}

/* line 40, ../../sass/module/tm.scss */
.main {
  width: 1190px;
  height: 640px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}
/* line 61, ../../sass/base/_mixin.scss */
.main:before, .main:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* line 68, ../../sass/base/_mixin.scss */
.main:after {
  clear: both;
}

/* line 51, ../../sass/module/tm.scss */
.panel {
  float: left;
  width: 230px;
  background-color: #4498ee;
}
/* line 55, ../../sass/module/tm.scss */
.panel .iconfont {
  color: #fff;
}
/* line 59, ../../sass/module/tm.scss */
.panel .avatar {
  float: left;
  margin-left: -40px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  vertical-align: middle;
}
/* line 69, ../../sass/module/tm.scss */
.panel .avatar img {
  width: 100%;
  text-align: center;
}
/* line 75, ../../sass/module/tm.scss */
.panel .info {
  margin-left: 8px;
}
/* line 61, ../../sass/base/_mixin.scss */
.panel .info:before, .panel .info:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* line 68, ../../sass/base/_mixin.scss */
.panel .info:after {
  clear: both;
}
/* line 78, ../../sass/module/tm.scss */
.panel .info .nickname {
  float: left;
  font-weight: 400;
  word-wrap: normal;
  font-size: 14px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 92, ../../sass/module/tm.scss */
.header {
  padding: 20px 20px 20px 60px;
}
/* line 96, ../../sass/module/tm.scss */
.header .info .nickname {
  line-height: 40px;
}
/* line 99, ../../sass/module/tm.scss */
.header .info .opt {
  float: right;
  margin-top: 8px;
}
/* line 102, ../../sass/module/tm.scss */
.header .info .opt .iconfont-set {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

/* line 111, ../../sass/module/tm.scss */
.search-bar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  background-color: #3387dd;
}
/* line 117, ../../sass/module/tm.scss */
.search-bar .txt {
  margin-left: 10px;
  border: none;
  background-color: #3387dd;
  color: #fff;
}

/* line 127, ../../sass/module/tm.scss */
.nav-view {
  height: 528px;
  overflow-y: scroll;
}

/* line 131, ../../sass/module/tm.scss */
.chat-item {
  width: 100%;
  height: 70px;
  padding: 15px 20px 15px 60px;
  cursor: pointer;
}
/* line 61, ../../sass/base/_mixin.scss */
.chat-item:before, .chat-item:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* line 68, ../../sass/base/_mixin.scss */
.chat-item:after {
  clear: both;
}
/* line 137, ../../sass/module/tm.scss */
.chat-item .avatar {
  float: left;
  margin-left: -40px;
}
/* line 141, ../../sass/module/tm.scss */
.chat-item .info {
  padding: 2px 0;
}
/* line 144, ../../sass/module/tm.scss */
.chat-item .hd {
  overflow: hidden;
}
/* line 146, ../../sass/module/tm.scss */
.chat-item .hd .num {
  float: right;
  height: 16px;
  line-height: 16px;
  padding: 0 2px;
  text-align: center;
  border-radius: 50%;
  background-color: #ff4422;
  font-size: 11px;
  color: #fff;
}
/* line 156, ../../sass/module/tm.scss */
.chat-item .hd .num b {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
/* line 162, ../../sass/module/tm.scss */
.chat-item .bd {
  color: #88ccff;
}
/* line 164, ../../sass/module/tm.scss */
.chat-item .bd .msg {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
/* line 168, ../../sass/module/tm.scss */
.chat-item .bd .time {
  float: right;
}

/* line 173, ../../sass/module/tm.scss */
.chat-item.on {
  background-color: #ffb600;
}
/* line 175, ../../sass/module/tm.scss */
.chat-item.on .bd {
  color: #ffeebb;
}

/* line 185, ../../sass/module/tm.scss */
.chat-area {
  float: left;
  width: 630px;
}

/* line 191, ../../sass/module/tm.scss */
.chat-area-hd h2 {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
}
