@charset "UTF-8";
/*
* des: TM online interface
* author: liuyao
* update: 2017/8/3
*/
/* Based on [Eric Meyer's reset 2.0](http://meyerweb.com/eric/tools/css/reset/index.html) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*========== normal style ==========*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #4d4d4d;
  font: 12px/1.5 Arial, Helvetica, SimSun, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
}

img {
  vertical-align: middle;
}

/*========== text ==========*/
h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #0066dd;
}
a:hover {
  color: #e04b43;
  text-decoration: underline;
}

ol {
  margin-left: 1.6em;
  *margin-left: 2em;
}
ol li {
  list-style-type: decimal;
}

.fms {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

.fcn {
  font-family: SimSun;
}

.v-sep {
  color: #cccccc;
  margin: 0 5px;
}

.space {
  margin: 0 3px;
}

/*=========== solution =========*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clearfix:after {
  clear: both;
}

.sl-vam {
  display: table;
  border-collapse: collapse;
  position: relative;
  *overflow: hidden;
}

.sl-vam-outer {
  display: table-cell;
  vertical-align: middle;
  *display: block;
  *position: absolute;
  *top: 50%;
  *left: 50%;
}

.sl-vam-inner {
  text-align: center;
  margin: 0 auto;
  *position: relative;
  *top: -50%;
  *left: -50%;
}

.img-txt, .img-txt .txt {
  overflow: hidden;
  *zoom: 1;
}
.img-txt .img {
  float: left;
  margin-right: 10px;
}

.txt {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

/* color */
.red {
  color: #e04b43;
}

.green {
  color: #229900;
}

.org {
  color: #c79528;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #999999;
}

/* box model */
.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pl15 {
  padding-left: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

/* layout */
.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.poss {
  position: static;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dtb {
  display: table;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

.vab {
  vertical-align: bottom;
}

.vatt {
  vertical-align: text-top;
}

.vatb {
  vertical-align: text-bottom;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.fln {
  float: none;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

@font-face {
  font-family: "iconfont";
  src: url("../../../fonts/iconfont.eot?t=1501730305739");
  /* IE9*/
  src: url("../../../fonts/iconfont.eot?t=1501730305739#iefix") format("embedded-opentype"), url("../../../fonts/iconfont.woff?t=1501730305739") format("woff"), url("../../../fonts/iconfont.ttf?t=1501730305739") format("truetype"), url("../../../fonts/iconfont.svg?t=1501730305739#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.iconfont-error:before {
  content: "\e66b";
}

.iconfont-infomation:before {
  content: "\e66c";
}

.iconfont-close:before {
  content: "\e761";
}

.iconfont-delete:before {
  content: "\e6f2";
}

.iconfont-feedback:before {
  content: "\e6fa";
}

.iconfont-refresh:before {
  content: "\e71e";
}

.iconfont-success:before {
  content: "\e72d";
}

.iconfont-kefu:before {
  content: "\e6d1";
}

.iconfont-set:before {
  content: "\e77f";
}

.iconfont-search:before {
  content: "\e780";
}

.iconfont-img:before {
  content: "\e781";
}

.iconfont-emoji:before {
  content: "\e782";
}

.iconfont-clock:before {
  content: "\e783";
}

.iconfont-pre:before {
  content: "\e784";
}

.iconfont-next:before {
  content: "\e785";
}

.iconfont-arrow-left:before {
  content: "\e786";
}

.iconfont-arrow-right:before {
  content: "\e787";
}

.iconfont-data:before {
  content: "\e611";
}

.iconfont-user:before {
  content: "\e600";
}

.iconfont-seting:before {
  content: "\e60d";
}

.iconfont-arrow-btm:before {
  content: "\e601";
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

button.btn,
input.btn {
  margin: 0;
  *overflow: visible;
  *filter: chroma(color=black);
}
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

a.btn:hover {
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: #e0463e;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-primary:link, .btn-primary:visited {
  color: white;
}
.btn-primary:hover {
  background-color: #b5241d;
  color: white;
}
.btn-primary:active {
  background-color: #e45b54;
}

.btn-warn {
  color: #674800;
  background-color: #ffdb1a;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-warn:link, .btn-warn:visited {
  color: #674800;
}
.btn-warn:hover {
  background-color: #cdac00;
  color: #674800;
}
.btn-warn:active {
  background-color: #ffdf34;
}

.btn-info {
  color: white;
  background-color: #4499ee;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-info:link, .btn-info:visited {
  color: white;
}
.btn-info:hover {
  background-color: #1373d2;
  color: white;
}
.btn-info:active {
  background-color: #5ba6f0;
}

.btn-default {
  color: #666666;
  background-color: #f4f4f4;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-default:link, .btn-default:visited {
  color: #666666;
}
.btn-default:hover {
  background-color: #cecece;
  color: #666666;
}
.btn-default:active {
  background-color: white;
}

.btn-blank {
  color: #333333;
  background-color: white;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid #e0e0e0;
}
.btn-blank:link, .btn-blank:visited {
  color: #333333;
}
.btn-blank:hover {
  background-color: #d9d9d9;
  color: #333333;
}
.btn-blank:active {
  background-color: white;
}
.btn-blank:hover {
  background: #49e;
  border-color: #49e;
  color: #fff;
}

.btn-xs {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

button.btn-xs,
input.btn-xs {
  height: 22px;
  _height: 17px;
  *line-height: 17px;
}

.btn-s {
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  font-size: 12px;
}

button.btn-s,
input.btn-s {
  height: 24px;
  _height: 19px;
  *line-height: 19px;
}

.btn-m {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-m,
input.btn-m {
  height: 30px;
  _height: 25px;
  *line-height: 25px;
}

.btn-l {
  height: 32px;
  line-height: 32px;
  padding: 0 25px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-l,
input.btn-l {
  height: 34px;
  _height: 29px;
  *line-height: 29px;
}

.btn-xl {
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-xl,
input.btn-xl {
  height: 38px;
  _height: 33px;
  *line-height: 33px;
}

.disabled,
.disabled:hover {
  background-color: #e6e6e6;
  border: none;
  color: #999999;
  cursor: not-allowed;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

a.disabled:link,
a.disabled:visited {
  color: #999999;
}

.btn-icon {
  padding-left: 26px;
  padding-right: 10px;
  position: relative;
}

.btn-icon .icon {
  position: absolute;
  left: 10px;
  top: 6px;
  _display: block;
  _top: 4px;
}

.btn-drop {
  display: inline-block;
  _display: inline;
  width: 71px;
}

.btn-drop-current {
  cursor: pointer;
  border: 1px solid #bfbfbf;
  height: 17px;
  width: 69px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-drop-current a {
  float: left;
  line-height: 18px;
  padding: 0 5px;
  width: 42px;
}

.btn-drop-arrow {
  float: left;
  width: 16px;
  height: 17px;
  border-left: 1px solid #bfbfbf;
  background-color: #fff;
  position: relative;
}

.btn-drop-arrow i {
  position: absolute;
  height: 0;
  width: 1px;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 3px 3px 0;
  border-color: gray white white white;
  background-color: #808080;
  top: 7px;
  left: 4px;
}

.btn-drop-current:hover {
  background-color: #4078bb;
  border-color: #3c7ac7 #4078bd #1f5699;
}

.btn-drop-current:hover .btn-drop-arrow {
  border-left: 1px solid #216ca6;
  background-color: transparent;
}

.btn-drop-current:hover .btn-drop-arrow i {
  border-color: white #4078bb #4078bb #4078bb;
}

.btn-drop-current:hover a:link,
.btn-drop-current:hover a:visited,
.btn-drop-current:hover a:hover {
  color: #fff;
}

.btn-drop-down {
  position: absolute;
  border: 1px solid #cccccc;
  border-top: none;
  z-index: 9;
  width: 69px;
}

.btn-drop-down ul {
  margin: 0 !important;
}

.btn-drop-down a {
  display: block;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
}

.btn-drop-down a:link,
.btn-drop-down a:visited {
  color: #666;
}

.btn-drop-down a:hover {
  color: #333;
  background-color: #dfecf5;
}

.alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
  z-index: 998;
  display: none;
}

.pop {
  display: none;
  width: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}
.pop .pop-hd {
  padding: 0 25px;
  height: 50px;
  background-color: #49e;
  color: #fff;
  overflow: hidden;
}
.pop .pop-hd h3 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}
.pop .pop-hd .iconfont-close {
  float: right;
  margin-top: 12px;
  cursor: pointer;
}
.pop .pop-ft {
  margin-bottom: 40px;
  padding: 15px 0 10px;
  text-align: center;
}
.pop .pop-ft .btn {
  margin: 0 5px;
}

.pop-alert {
  width: 300px;
}
.pop-alert .pop-bd {
  font-size: 14px;
  padding: 20px;
}

.tip-alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 100;
}

.pop-m {
  width: 600px;
}

.txt {
  height: 24px;
  line-height: 24px;
  padding: 5px 4px;
}

.txt, textarea, select {
  border: 1px solid #cccccc;
}
.txt:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #b9c9e3;
}

label input {
  margin: -1px 3px 0 0;
  height: 16px;
  vertical-align: middle;
}

select {
  height: 26px;
  line-height: 20px;
  padding: 2px 1px;
}

.required {
  color: #e04b43;
}

.field,
.field-bd {
  overflow: hidden;
  *zoom: 1;
}

.field {
  padding: 10px 0 10px 90px;
}

.field-tit {
  float: left;
  width: 90px;
  margin-left: -90px;
  text-align: right;
  line-height: 23px;
}

.field-bd {
  padding-left: 10px;
}
.field-bd .text-before, .field-bd .text-after {
  color: #999999;
  margin: 5px 0;
}
.field-bd .text-before {
  margin: 4px 0 6px;
}
.field-bd .choose-group label {
  margin-right: 30px;
}
.field-bd .txt-phone-nation {
  width: 30px;
}
.field-bd .txt-phone-zone {
  width: 70px;
}
.field-bd .txt-phone-number {
  width: 150px;
}
.field-bd .form-error {
  padding-left: 20px;
  margin-top: 6px;
  color: #e04b43;
}
.field-bd .form-error .iconfont {
  margin-top: -2px;
  margin-left: -20px;
  float: left;
}
.field-bd .form-error p {
  margin: 0;
}

.tab-menu:before, .tab-menu:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.tab-menu:after {
  clear: both;
}
.tab-menu > li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.tab-menu .on {
  background-color: #fff;
}

.tab-con {
  padding: 40px 50px 0;
}

.prod-tab {
  overflow: hidden;
}
.prod-tab li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.prod-tab .on {
  background-color: #fff;
  color: #333;
}

.prod-tab-con {
  padding: 20px 30px;
  height: 590px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.prod-tab-con .prod-tip {
  margin-top: 140px;
  font-size: 16px;
  text-align: center;
  color: #666;
}
.prod-tab-con .prod-tip .iconfont-information {
  font-size: 20px;
  color: #ffb300;
}

.com-panel {
  padding-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;
}
.com-panel h4 {
  font-weight: normal;
  font-size: 14px;
}
.com-panel .com-cert {
  margin-bottom: 5px;
}
.com-panel .accnt {
  overflow: hidden;
}
.com-panel .accnt dt, .com-panel .accnt dd {
  float: left;
  line-height: 24px;
}
.com-panel .accnt dt {
  color: #999;
}
.com-panel .accnt dd {
  min-width: 70px;
}
.com-panel .accnt dd a {
  color: #333;
}
.com-panel .accnt dd a:hover {
  color: #e04b43;
}

.prod-lst-wrap {
  padding: 16px 0 5px;
}
.prod-lst-wrap .prod-hd {
  margin-bottom: 11px;
  overflow: hidden;
}
.prod-lst-wrap .prod-hd h3 {
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.prod-lst-wrap .prod-hd .order-time {
  color: #999;
  float: right;
}
.prod-lst-wrap .prod-lst li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.prod-lst-wrap .prod-lst li:last-child {
  margin-bottom: 0;
}
.prod-lst-wrap .prod-lst-history li {
  padding-bottom: 0;
  margin-bottom: 15px;
  border-bottom: none;
}
.prod-lst-wrap .prod-bd {
  padding-left: 70px;
  overflow: hidden;
}
.prod-lst-wrap .prod-bd .prod-pic-wrap {
  float: left;
  display: table;
  width: 60px;
  margin-left: -70px;
}
.prod-lst-wrap .prod-bd .prod-pic-wrap .prod-pic {
  display: table-cell;
  vertical-align: middle;
}
.prod-lst-wrap .prod-bd .prod-pic-wrap .prod-pic img {
  width: 100%;
}
.prod-lst-wrap .prod-info {
  float: left;
  width: 100%;
}
.prod-lst-wrap .prod-info dt {
  width: 140px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
}
.prod-lst-wrap .prod-info dt a {
  color: #333;
}
.prod-lst-wrap .prod-info dt a:hover {
  color: #e04b43;
}
.prod-lst-wrap .prod-info dd {
  overflow: hidden;
}
.prod-lst-wrap .prod-info dd .prod-price {
  display: inline-block;
  margin-top: 1px;
  font-size: 14px;
  color: red;
}
.prod-lst-wrap .prod-info dd .btn {
  float: right;
}

body {
  background-color: #666;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.wrap {
  padding-top: 0px;
}

.wrap-full {
  padding-top: 100px;
}

.main {
  position: relative;
  width: 1190px;
  height: 640px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}
.main:before, .main:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.main:after {
  clear: both;
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}
.avatar img {
  width: 100%;
  text-align: center;
}

.panel {
  float: left;
  width: 230px;
  background-color: #4498ee;
}
.panel .iconfont {
  color: #fff;
}
.panel .avatar {
  float: left;
  margin-left: -40px;
}
.panel .info {
  margin-left: 8px;
}
.panel .info:before, .panel .info:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.panel .info:after {
  clear: both;
}
.panel .info .nickname {
  float: left;
  font-weight: 400;
  word-wrap: normal;
  font-size: 14px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px\0;
}
.panel .info .set-load {
  -webkit-animation: setLoad 2s infinite linear;
  -moz-animation: setLoad 2s infinite linear;
  animation: setLoad 2s infinite linear;
}

.header {
  padding: 20px 20px 20px 60px;
}
.header .info .nickname {
  line-height: 40px;
}
.header .info .opt {
  float: right;
  margin-top: 8px;
}
.header .info .opt .iconfont-set {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.search-bar {
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  background-color: #3387dd;
}
.search-bar input::-webkit-input-placeholder,
.search-bar textarea::-webkit-input-placeholder {
  color: #b7cceb;
}
.search-bar input::-moz-placeholder,
.search-bar textarea::-moz-placeholder {
  color: #b7cceb;
}
.search-bar input:-ms-input-placeholder,
.search-bar textarea:-ms-input-placeholder {
  color: #b7cceb;
}
.search-bar .txt {
  margin-left: 10px;
  border: none;
  background-color: #3387dd;
  color: #fff;
}
.search-bar .search-lst {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 19;
  width: 100%;
  box-shadow: 1px 2px 5px 0 #333333;
}
.search-bar .search-lst li {
  padding: 10px 0 10px 60px;
  background-color: #4498ee;
  color: #fff;
  cursor: pointer;
}
.search-bar .search-lst li:hover {
  background-color: #5ba6f0;
}
.search-bar .search-lst li .avatar {
  margin-top: -3px;
}
.search-bar .search-lst li .nickname {
  margin-left: 5px;
  font-weight: normal;
}

.nav-view {
  position: relative;
  height: 528px;
  overflow-y: scroll;
}
.nav-view .alpha {
  z-index: 9;
}
.nav-view .nav-view-tip {
  margin-top: 140px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}
.nav-view .nav-view-offline {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 19px;
  background-color: #000\0;
  filter: alpha(opacity=60);
}
.nav-view .nav-view-offline a {
  color: #60a9ff;
}
.nav-view .nav-view-offline .iconfont-information {
  color: #f42;
}

.chat-item {
  width: 100%;
  height: 65px;
  padding: 10px 20px 10px 60px;
  cursor: pointer;
}
.chat-item:before, .chat-item:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.chat-item:after {
  clear: both;
}
.chat-item .avatar {
  float: left;
  margin-left: -40px;
}
.chat-item .info {
  padding: 2px 0;
}
.chat-item .info .nickname {
  width: 105px;
}
.chat-item .hd {
  overflow: hidden;
}
.chat-item .hd .num {
  float: right;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 2px;
  padding: 0 2px;
  text-align: center;
  border-radius: 50%;
  background-color: #ff4422;
  font-size: 11px;
  color: #fff;
}
.chat-item .hd .num b {
  display: inline-block;
  margin-left: -1px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.chat-item .bd {
  color: #88ccff;
  overflow: hidden;
}
.chat-item .bd .msg {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.chat-item .bd .time {
  float: right;
}
.chat-item .bd .iconfont-information {
  margin-right: 2px;
  color: #f42;
  vertical-align: -2px;
}

.chat-item.on {
  background-color: #ffb600;
}
.chat-item.on .bd {
  color: #ffeebb;
}

.chat-area {
  position: relative;
  z-index: 99;
  float: left;
  width: 630px;
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
}

.chat-area-hd {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #e6e6e6;
}
.chat-area-hd:before, .chat-area-hd:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.chat-area-hd:after {
  clear: both;
}
.chat-area-hd h2 {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
}
.chat-area-hd .status {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: #44cc00;
}
.chat-area-hd .status-off {
  background-color: #ccc;
}

.chat-tip {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #f2f2f2;
  font-size: 12px;
  overflow: hidden;
}
.chat-tip .iconfont-close {
  float: right;
  cursor: pointer;
}

.chat-area-bd {
  position: relative;
  max-height: 425px;
  min-height: 395px;
  padding: 10px 20px;
  border-bottom: 1px solid #e6e6e6;
  overflow-y: scroll;
  font-size: 14px;
  height: 395px\0;
}
.chat-area-bd .msg-system {
  position: relative;
  margin: 10px auto;
  max-width: 50%;
  text-align: center;
  font-size: 12px;
  color: #999;
  clear: both;
}
.chat-area-bd .msg-system-his {
  margin-top: 20px;
}
.chat-area-bd .msg-system-his .line {
  position: absolute;
  top: 8px;
  width: 40px;
  border-top: 1px solid #e6e6e6;
}
.chat-area-bd .msg-system-his .line-left {
  left: 55px;
}
.chat-area-bd .msg-system-his .line-right {
  right: 55px;
}
.chat-area-bd .msg-pre {
  display: inline-block;
  width: 240px;
  padding: 10px 14px;
  margin: 10px 0;
  border: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}
.chat-area-bd .msg-pre dt {
  margin-bottom: 3px;
}
.chat-area-bd .msg {
  margin: 5px 0;
}
.chat-area-bd .msg .content {
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: 10px;
  line-height: 21px;
  border-radius: 3px;
  word-wrap: break-word;
  word-break: break-all;
}
.chat-area-bd .msg .content img {
  max-width: 100%;
  cursor: pointer;
}
.chat-area-bd .msg .content .msg-status {
  position: absolute;
}
.chat-area-bd .msg .content .msg-status .iconfont {
  font-size: 24px;
}
.chat-area-bd .msg .content .msg-status .iconfont-delete {
  color: #f42;
}
.chat-area-bd .msg-in {
  padding-left: 50px;
  float: left;
  text-align: left;
  clear: left;
}
.chat-area-bd .msg-in .avatar {
  float: left;
  margin-left: -50px;
}
.chat-area-bd .msg-in .content {
  display: inline-block;
  background-color: #ffeecc;
}
.chat-area-bd .msg-in .content:before {
  position: absolute;
  top: 13px;
  left: -16px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed;
  border-color: transparent;
  border-width: 8px;
  border-right: 8px solid #ffeecc;
}
.chat-area-bd .msg-in .content .msg-status {
  bottom: 17px;
  right: -30px;
}
.chat-area-bd .msg-out {
  padding-right: 50px;
  float: right;
  text-align: right;
  clear: right;
}
.chat-area-bd .msg-out .avatar {
  float: right;
  margin-right: -50px;
}
.chat-area-bd .msg-out .content {
  background-color: #ddeeff;
  text-align: left;
}
.chat-area-bd .msg-out .content:after {
  position: absolute;
  top: 13px;
  right: -16px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed;
  border-color: transparent;
  border-width: 8px;
  border-left: 8px solid #ddeeff;
}
.chat-area-bd .msg-out .msg-failed {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
}
.chat-area-bd .msg-out .msg-failed .iconfont-information {
  color: #f7411a;
  vertical-align: -1px;
}
.chat-area-bd .msg-out .msg-status {
  bottom: 10px;
  left: -30px;
}

.chat-edit {
  position: relative;
  height: 165px;
  height: 155px\0;
}
.chat-edit .msg-new-tip {
  position: absolute;
  top: -31px;
  left: 0;
  display: table;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #feeecc;
}
.chat-edit .msg-new-tip .avatar {
  display: table-cell;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 0;
  vertical-align: middle;
}
.chat-edit .msg-new-tip .msg-new-txt {
  display: inline-block;
  margin-left: 10px;
}
.chat-edit .msg-new-tip .iconfont-close {
  position: absolute;
  top: 2px;
  right: 20px;
  font-size: 12px;
  cursor: pointer;
}
.chat-edit .toolbar {
  padding: 4px 17px;
}
.chat-edit .toolbar .toolbar-item {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 16px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.chat-edit .toolbar .toolbar-item:hover {
  border: 1px solid #999999;
}
.chat-edit .toolbar .on {
  border: 1px solid #999999;
  background-color: #f2f2f2;
}
.chat-edit .toolbar .iconfont {
  margin-right: 5px;
  color: #999;
}
.chat-edit .toolbar .poptip-service {
  position: absolute;
  bottom: 28px;
  right: -42px;
  z-index: 9;
  width: 150px;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
}
.chat-edit .toolbar .poptip-service h4 {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
}
.chat-edit .toolbar .mate-lst li {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
}
.chat-edit .toolbar .mate-lst li:hover {
  background-color: #f7f7f7;
}
.chat-edit .edit-box {
  height: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 20px;
  outline: none;
  border: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: normal;
}
.chat-edit .action {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.chat-edit .action .action-tip {
  position: absolute;
  top: -30px;
  right: 0;
  padding: 2px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #999999;
  color: #666666;
}
.chat-edit .action .desc {
  color: #999;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 7px;
}

.sidebar {
  float: left;
  width: 330px;
  position: relative;
}
.sidebar .sys-tip {
  margin-top: 200px;
  text-align: center;
  font-size: 14px;
}

.msg-history {
  position: absolute;
  top: 0;
  width: 330px;
  height: 640px;
  background: #fff;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.msg-history .msg-history-hd {
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 30px;
  border-bottom: 1px solid #e6e6e6;
}
.msg-history .msg-history-hd:before, .msg-history .msg-history-hd:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.msg-history .msg-history-hd:after {
  clear: both;
}
.msg-history .msg-history-hd h2 {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.msg-history .msg-history-hd .iconfont-close {
  float: right;
  font-size: 16px;
  cursor: pointer;
}
.msg-history .msg-history-bd {
  height: 555px;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.msg-history .record {
  margin-bottom: 10px;
}
.msg-history .record .record-time {
  margin: 0 30px;
  font-weight: bold;
  line-height: 24px;
  border-bottom: 1px solid #e6e6e6;
}
.msg-history .record .record-lst li {
  padding: 7px 30px;
}
.msg-history .record .record-lst li:hover {
  background-color: #f2f2f2;
}
.msg-history .record .record-txt-hd {
  color: #999;
}
.msg-history .msg-history-ft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.msg-history .filter-area {
  padding: 5px 15px 0;
  line-height: 24px;
  background-color: #f2f2f2;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.msg-history .filter-area select,
.msg-history .filter-area input {
  width: 80px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  border: 1px solid #e6e6e6;
  font-size: 12px;
}
.msg-history .filter-area select {
  margin-right: 15px;
}
.msg-history .pager {
  position: relative;
  z-index: 9;
  padding: 5px 15px;
  background-color: #f2f2f2;
}
.msg-history .pager:before, .msg-history .pager:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.msg-history .pager:after {
  clear: both;
}
.msg-history .pager .search {
  float: left;
  width: 56px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}
.msg-history .pager .search .iconfont-search {
  margin-right: 5px;
  font-size: 14px;
}
.msg-history .pager .search:hover {
  border: 1px solid #999999;
}
.msg-history .pager .pager-nav {
  float: right;
}
.msg-history .pager .pager-nav input {
  height: 20px;
  line-height: 20px;
  width: 40px;
  padding: 0 3px;
  border: 1px solid #e6e6e6;
  font-size: 12px;
}
.msg-history .pager .pager-nav .iconfont {
  display: inline-block;
  padding: 0 3px;
  margin-left: -3px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}
.msg-history .pager .pager-nav .iconfont:hover {
  border: 1px solid #999999;
}

.blank {
  position: absolute;
  top: 0;
  left: 230px;
  z-index: 99;
  width: 960px;
  height: 640px;
  background-color: #eee;
  font-size: 16px;
  text-align: center;
}
.blank .blank-txt {
  display: inline-block;
  width: 200px;
  margin: 200px auto 0;
  text-align: center;
  color: #999999;
}
.blank .blank-txt img {
  width: 100%;
  margin-bottom: 15px;
}
.blank .blank-txt p {
  padding-top: 15px;
  border-top: 1px solid #999999;
  color: #666;
  text-shadow: 1px 1px 0px #cccccc;
}

.init {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 499;
  width: 100%;
  height: 640px;
  padding-top: 150px;
  background-color: #fff;
  text-align: center;
}
.init p {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.init p img {
  vertical-align: sub;
}
.init p .iconfont-information {
  font-size: 24px;
  color: #fb982a;
}

.pop-service {
  min-height: 430px;
  font-size: 14px;
}
.pop-service .txtarea {
  width: 100%;
  height: 80px;
  font-size: 14px;
}
.pop-service .faq-switch {
  margin-bottom: 10px;
}
.pop-service .faq-switch label {
  margin-right: 30px;
}
.pop-service .faq .faq-hd {
  padding: 10px 0;
}
.pop-service .faq .faq-hd .after-txt {
  margin-left: 10px;
  font-size: 12px;
  color: #999999;
}
.pop-service .faq .faq-bd {
  overflow: hidden;
}
.pop-service .faq .faq-bd .faq-lst {
  float: left;
  width: 370px;
  height: 140px;
  margin-right: 10px;
  border: 1px solid #e6e6e6;
}
.pop-service .faq .faq-bd .faq-lst li {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.pop-service .faq .faq-bd .faq-lst li:hover,
.pop-service .faq .faq-bd .faq-lst .on {
  background-color: #f2f2f2;
}
.pop-service .faq .faq-bd .faq-action {
  float: left;
}
.pop-service .faq .faq-bd .faq-action li {
  margin-bottom: 10px;
}
.pop-service .faq .faq-bd .faq-action .btn {
  width: 100px;
}
.pop-service .faq .faq-bd .faq-action .btn-delete {
  margin-top: 24px;
}
.pop-service .faq-set {
  padding: 40px 50px;
}
.pop-service .faq-set .field-tit-ta {
  line-height: 40px;
}
.pop-service .faq-set .txt {
  width: 100%;
  height: 40px;
  padding: 10px 4px;
  padding-top: 7px\0;
}
.pop-service .faq-set .txtarea {
  height: 150px;
}
.pop-service .faq-set .ta-note {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
  color: #999999;
}

.pop-tip {
  width: 430px;
  font-size: 14px;
}
.pop-tip .pop-bd {
  padding: 40px 50px;
}
.pop-tip .iconfont-information {
  font-size: 18px;
  color: #fb982a;
}
.pop-tip .mate-txt {
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}
.pop-tip .mate-txt .iconfont-kefu {
  font-size: 32px;
  color: #4498ee;
}

.pop-img {
  position: absolute;
  background: transparent;
}
.pop-img .pop-img-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.pop-img .pop-img-close:hover {
  background-color: #f42;
}
.pop-img img {
  width: 100%;
  height: 100%;
  border: 10px solid #292929;
  border-radius: 5px;
}

.bubble {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 999;
  margin-left: -150px;
  width: 400px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #000000\0;
  filter: alpha(opacity=60);
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.bubble .iconfont {
  margin-right: 3px;
  font-size: 32px;
}
.bubble .iconfont-error {
  color: #f42;
}
.bubble .iconfont-success {
  color: #4c0;
}

.iconfont-close {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.iconfont-close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.iconfont-refresh {
  display: inline-block;
  cursor: pointer;
  color: #999;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.iconfont-refresh:hover {
  font-size: 32px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.fadeInL {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.fadeOutL {
  opacity: 0;
  -webkit-transform: translateX(-330px);
  -moz-transform: translateX(-330px);
  -ms-transform: translateX(-330px);
  -o-transform: translateX(-330px);
  transform: translateX(-330px);
}

.fadeInB {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.fadeOutB {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
}

@-webkit-keyframes setLoad {
  0% {
    -webkit-transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-180deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes setLoad {
  0% {
    -moz-transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(-180deg);
  }

  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-o-keyframes setLoad {
  0% {
    -o-transform: rotate(0deg);
  }

  50% {
    -o-transform: rotate(-180deg);
  }

  100% {
    -o-transform: rotate(-360deg);
  }
}

@keyframes setLoad {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
