@charset "UTF-8";
/*
* des: TM VO
* author: liuyao
* update: 2017/11/6
*/
/* Based on [Eric Meyer's reset 2.0](http://meyerweb.com/eric/tools/css/reset/index.html) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*========== normal style ==========*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #4d4d4d;
  font: 12px/1.5 Arial, Helvetica, SimSun, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
}

img {
  vertical-align: middle;
}

/*========== text ==========*/
h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #0066dd;
}
a:hover {
  color: #e04b43;
  text-decoration: underline;
}

ol {
  margin-left: 1.6em;
  *margin-left: 2em;
}
ol li {
  list-style-type: decimal;
}

.fms {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

.fcn {
  font-family: SimSun;
}

.v-sep {
  color: #cccccc;
  margin: 0 5px;
}

.space {
  margin: 0 3px;
}

/*=========== solution =========*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clearfix:after {
  clear: both;
}

.sl-vam {
  display: table;
  border-collapse: collapse;
  position: relative;
  *overflow: hidden;
}

.sl-vam-outer {
  display: table-cell;
  vertical-align: middle;
  *display: block;
  *position: absolute;
  *top: 50%;
  *left: 50%;
}

.sl-vam-inner {
  text-align: center;
  margin: 0 auto;
  *position: relative;
  *top: -50%;
  *left: -50%;
}

.img-txt, .img-txt .txt {
  overflow: hidden;
  *zoom: 1;
}
.img-txt .img {
  float: left;
  margin-right: 10px;
}

.txt {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

/* color */
.red {
  color: #e04b43;
}

.green {
  color: #229900;
}

.org {
  color: #c79528;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #999999;
}

/* box model */
.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pl15 {
  padding-left: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

/* layout */
.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.poss {
  position: static;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dtb {
  display: table;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

.vab {
  vertical-align: bottom;
}

.vatt {
  vertical-align: text-top;
}

.vatb {
  vertical-align: text-bottom;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.fln {
  float: none;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

@font-face {
  font-family: "iconfont";
  src: url("../../../fonts/iconfont.eot?t=1501730305739");
  /* IE9*/
  src: url("../../../fonts/iconfont.eot?t=1501730305739#iefix") format("embedded-opentype"), url("../../../fonts/iconfont.woff?t=1501730305739") format("woff"), url("../../../fonts/iconfont.ttf?t=1501730305739") format("truetype"), url("../../../fonts/iconfont.svg?t=1501730305739#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.iconfont-error:before {
  content: "\e66b";
}

.iconfont-infomation:before {
  content: "\e66c";
}

.iconfont-close:before {
  content: "\e761";
}

.iconfont-delete:before {
  content: "\e6f2";
}

.iconfont-feedback:before {
  content: "\e6fa";
}

.iconfont-refresh:before {
  content: "\e71e";
}

.iconfont-success:before {
  content: "\e72d";
}

.iconfont-kefu:before {
  content: "\e6d1";
}

.iconfont-set:before {
  content: "\e77f";
}

.iconfont-search:before {
  content: "\e780";
}

.iconfont-img:before {
  content: "\e781";
}

.iconfont-emoji:before {
  content: "\e782";
}

.iconfont-clock:before {
  content: "\e783";
}

.iconfont-pre:before {
  content: "\e784";
}

.iconfont-next:before {
  content: "\e785";
}

.iconfont-arrow-left:before {
  content: "\e786";
}

.iconfont-arrow-right:before {
  content: "\e787";
}

.iconfont-data:before {
  content: "\e611";
}

.iconfont-user:before {
  content: "\e600";
}

.iconfont-seting:before {
  content: "\e60d";
}

.iconfont-arrow-btm:before {
  content: "\e601";
}

/*
* des: TM layout
* author: liuyao
* update: 2017/11/6
*/
.header {
  position: relative;
  height: 70px;
  background-color: #0076be;
}

.main, .side-wrap {
  position: absolute;
  top: 70px;
  bottom: 0;
}

.side-wrap {
  left: 0;
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #dadada;
  overflow: auto;
  z-index: 99;
}

.main {
  left: 200px;
  right: 0;
  overflow: auto;
  background-color: #fafafa;
}

/* menu
----------------------------------------------------------------*/
.menu-wrap {
  padding: 15px;
  position: relative;
}

.menu-hd {
  position: relative;
  margin-bottom: 5px;
  color: #4d4d4d;
  font-weight: 700;
  text-align: left;
  font-size: 14px;
}
.menu-hd .iconfont {
  margin: 0 6px 2px 0;
  font-weight: normal;
}

.menu {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.menu-wrap div:last-child {
  border-bottom: none;
}

.menu-lst {
  margin-bottom: 5px;
}
.menu-lst > li {
  margin-bottom: 4px;
}
.menu-lst a {
  display: block;
  height: 26px;
  line-height: 23px;
  padding-left: 26px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 12px;
  text-decoration: none;
}
.menu-lst a:link, .menu-lst a:visited {
  color: #666666;
}
.menu-lst a:hover {
  color: #666;
  text-decoration: none;
  border-color: #9fd6fd;
  background-color: #e0f2fe;
}

.menu-sub {
  margin-top: 8px;
}
.menu-sub .menu-hd {
  padding-left: 27px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: normal;
}
.menu-sub .menu-hd .iconfont {
  position: absolute;
  top: -2px;
  right: 0;
  font-weight: bold;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.menu-sub .menu-lst a {
  padding-left: 37px;
}

/* main
-----------------------------------------------------------------*/
.main-hd {
  position: relative;
  padding: 8px 20px;
  border-bottom: 1px solid #cccccc;
  color: #4c4c4c;
  font-size: 14px;
}
.main-hd:before, .main-hd:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.main-hd:after {
  clear: both;
}
.main-hd h2 {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  font-size: 14px;
  font-weight: 700;
}
.main-hd p {
  float: left;
  margin-top: 5px;
  color: #999999;
  font-size: 12px;
}

.main-bd {
  width: 1200px;
  padding: 20px;
}

/* search
-----------------------------------------------------------------*/
.sch {
  width: 100%;
  padding: 15px 0 1px 0;
  margin-bottom: 30px;
  background-color: #f2f7fa;
  border: 1px solid #d3dde7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sch-main {
  padding-bottom: 5px;
  width: 1200px;
}
.sch-main:before, .sch-main:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.sch-main:after {
  clear: both;
}

.sch-lst {
  float: left;
  max-width: 990px;
  padding-left: 20px;
}

.sch-item {
  float: left;
  width: 280px;
  margin: 0 30px 10px 0;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sch-item-tit {
  float: left;
  width: 75px;
  height: 26px;
  line-height: 26px;
  margin-left: -80px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sch-item-bd {
  position: relative;
  width: 100%;
}
.sch-item-bd .sch-input {
  height: 26px;
  line-height: 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sch-item-bd .txt-date {
  width: 90px;
}
.sch-item-bd .drop-lst {
  width: 100%;
  border-top: none;
}
.sch-item-bd .m-drop-select,
.sch-item-bd .drop-content {
  width: 100%;
}

.sch-btn {
  float: left;
}

.sch-rst {
  margin-bottom: 5px;
  text-align: right;
}
.sch-rst strong {
  color: #e04b43;
}

/* drop-lst
----------------------------------------------------------------*/
.drop-lst {
  box-sizing: border-box;
  min-width: 188px;
  height: 132px;
  background-color: #FFF;
  border: 1px solid #cccccc;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: 199;
}

.drop-lst span {
  display: block;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  color: #333333;
}

.drop-lst .highlight, .drop-lst span:hover {
  text-decoration: none;
  background-color: #e1edfa;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

button.btn,
input.btn {
  margin: 0;
  *overflow: visible;
  *filter: chroma(color=black);
}
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

a.btn:hover {
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: #e0463e;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-primary:link, .btn-primary:visited {
  color: white;
}
.btn-primary:hover {
  background-color: #b5241d;
  color: white;
}
.btn-primary:active {
  background-color: #e45b54;
}

.btn-warn {
  color: #674800;
  background-color: #ffdb1a;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-warn:link, .btn-warn:visited {
  color: #674800;
}
.btn-warn:hover {
  background-color: #cdac00;
  color: #674800;
}
.btn-warn:active {
  background-color: #ffdf34;
}

.btn-info {
  color: white;
  background-color: #4499ee;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-info:link, .btn-info:visited {
  color: white;
}
.btn-info:hover {
  background-color: #1373d2;
  color: white;
}
.btn-info:active {
  background-color: #5ba6f0;
}

.btn-default {
  color: #666666;
  background-color: #f4f4f4;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-default:link, .btn-default:visited {
  color: #666666;
}
.btn-default:hover {
  background-color: #cecece;
  color: #666666;
}
.btn-default:active {
  background-color: white;
}

.btn-blank {
  color: #333333;
  background-color: white;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid #e0e0e0;
}
.btn-blank:link, .btn-blank:visited {
  color: #333333;
}
.btn-blank:hover {
  background-color: #d9d9d9;
  color: #333333;
}
.btn-blank:active {
  background-color: white;
}
.btn-blank:hover {
  background: #49e;
  border-color: #49e;
  color: #fff;
}

.btn-xs {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

button.btn-xs,
input.btn-xs {
  height: 22px;
  _height: 17px;
  *line-height: 17px;
}

.btn-s {
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  font-size: 12px;
}

button.btn-s,
input.btn-s {
  height: 24px;
  _height: 19px;
  *line-height: 19px;
}

.btn-m {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-m,
input.btn-m {
  height: 30px;
  _height: 25px;
  *line-height: 25px;
}

.btn-l {
  height: 32px;
  line-height: 32px;
  padding: 0 25px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-l,
input.btn-l {
  height: 34px;
  _height: 29px;
  *line-height: 29px;
}

.btn-xl {
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-xl,
input.btn-xl {
  height: 38px;
  _height: 33px;
  *line-height: 33px;
}

.disabled,
.disabled:hover {
  background-color: #e6e6e6;
  border: none;
  color: #999999;
  cursor: not-allowed;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

a.disabled:link,
a.disabled:visited {
  color: #999999;
}

.btn-icon {
  padding-left: 26px;
  padding-right: 10px;
  position: relative;
}

.btn-icon .icon {
  position: absolute;
  left: 10px;
  top: 6px;
  _display: block;
  _top: 4px;
}

.btn-drop {
  display: inline-block;
  _display: inline;
  width: 71px;
}

.btn-drop-current {
  cursor: pointer;
  border: 1px solid #bfbfbf;
  height: 17px;
  width: 69px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-drop-current a {
  float: left;
  line-height: 18px;
  padding: 0 5px;
  width: 42px;
}

.btn-drop-arrow {
  float: left;
  width: 16px;
  height: 17px;
  border-left: 1px solid #bfbfbf;
  background-color: #fff;
  position: relative;
}

.btn-drop-arrow i {
  position: absolute;
  height: 0;
  width: 1px;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 3px 3px 0;
  border-color: gray white white white;
  background-color: #808080;
  top: 7px;
  left: 4px;
}

.btn-drop-current:hover {
  background-color: #4078bb;
  border-color: #3c7ac7 #4078bd #1f5699;
}

.btn-drop-current:hover .btn-drop-arrow {
  border-left: 1px solid #216ca6;
  background-color: transparent;
}

.btn-drop-current:hover .btn-drop-arrow i {
  border-color: white #4078bb #4078bb #4078bb;
}

.btn-drop-current:hover a:link,
.btn-drop-current:hover a:visited,
.btn-drop-current:hover a:hover {
  color: #fff;
}

.btn-drop-down {
  position: absolute;
  border: 1px solid #cccccc;
  border-top: none;
  z-index: 9;
  width: 69px;
}

.btn-drop-down ul {
  margin: 0 !important;
}

.btn-drop-down a {
  display: block;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
}

.btn-drop-down a:link,
.btn-drop-down a:visited {
  color: #666;
}

.btn-drop-down a:hover {
  color: #333;
  background-color: #dfecf5;
}

.alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
  z-index: 998;
  display: none;
}

.pop {
  display: none;
  width: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}
.pop .pop-hd {
  padding: 0 25px;
  height: 50px;
  background-color: #49e;
  color: #fff;
  overflow: hidden;
}
.pop .pop-hd h3 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}
.pop .pop-hd .iconfont-close {
  float: right;
  margin-top: 12px;
  cursor: pointer;
}
.pop .pop-ft {
  margin-bottom: 40px;
  padding: 15px 0 10px;
  text-align: center;
}
.pop .pop-ft .btn {
  margin: 0 5px;
}

.pop-alert {
  width: 300px;
}
.pop-alert .pop-bd {
  font-size: 14px;
  padding: 20px;
}

.tip-alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 100;
}

.pop-m {
  width: 600px;
}

/************************* note style *************************/
.note {
  background-color: #f5f8fa;
  padding: 10px;
  border: 1px solid #c7dbeb;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
.note .icon-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: #666666 #f4f8fb #f4f8fb #f4f8fb;
  margin-left: 3px;
  _font: 0;
  _line-height: 0;
}
.note .note-switch-show,
.note .note-switch-close {
  display: none;
}

.note-hd {
  color: #666;
}

.note-bd {
  line-height: 20px;
  margin-top: 7px;
  display: none;
}

.note-switch {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.note-show .icon-arrow {
  border-color: #f4f8fb #f4f8fb #666666 #f4f8fb;
  margin-bottom: 3px;
}
.note-show .note-bd,
.note-show .note-switch-show {
  display: block;
}

/************************* tip style *************************/
.tip {
  padding: 7px 10px 7px 31px;
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
.tip .icon {
  float: left;
  margin: 1px 0 0 -21px;
}

.tip-close {
  float: right;
  font: bold 12px/14px tahoma, arial, sans-serif;
  cursor: pointer;
}

.tip-sub-hd {
  margin-bottom: 6px;
}

.tip-ope {
  margin: 10px 0 15px;
}

.tip-lnk-lst {
  overflow: hidden;
  *zoom: 1;
}
.tip-lnk-lst li {
  float: left;
}
.tip-lnk-lst .v-sep {
  margin: 0 10px;
}

.tip-multi {
  padding: 9px 10px 15px 10px;
}

.tip-hd {
  font: bold 18px/20px "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  margin-bottom: 7px;
  overflow: hidden;
  *zoom: 1;
}

.tip-bd {
  overflow: hidden;
  *zoom: 1;
}
.tip-bd ul, .tip-bd ol {
  margin-bottom: 6px;
}
.tip-bd p, .tip-bd li {
  padding: 3px 0;
}

.tip-pop {
  position: absolute;
}
.tip-pop i {
  position: absolute;
  _left: 30px;
}
.tip-pop p {
  _float: left;
}

/* tip state style */
.tip-notice {
  background-color: #edf4fa;
  border: 1px solid #c7dbeb;
  color: #1c75bb;
  padding-left: 10px;
}

.tip-succ {
  background-color: #ebf9df;
  border: 1px solid #bed7a8;
  color: #58991f;
}

.tip-error {
  background-color: #faedee;
  border: 1px solid #fad2cd;
  color: #cc220b;
}

.tip-warn {
  background-color: #fcf5e3;
  border: 1px solid #e8d4a8;
  color: #c59120;
}

.tip-info {
  background-color: #edf4fa;
  border: 1px solid #c7dbeb;
  color: #1c75bb;
}

/* tip size style */
.tip-nor {
  padding: 15px 20px 15px 62px;
  color: #333333;
  border: none;
  overflow: hidden;
  *zoom: 1;
}
.tip-nor .icon-nor {
  float: left;
  margin-left: -42px;
}
.tip-nor .tip-hd {
  padding: 5px 0 0;
  font-size: 14px;
}

.tip-big {
  padding: 15px 40px 15px 88px;
  color: #333333;
  border: none;
  overflow: hidden;
  *zoom: 1;
}
.tip-big .icon-big {
  float: left;
  margin-left: -58px;
}
.tip-big .tip-hd {
  padding: 12px 0;
}

/************************* poptip style *************************/
.poptip {
  padding: 5px 20px 5px 10px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #d9d9d9;
  position: absolute;
}
.poptip .poptip-close {
  color: #999;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.poptip .poptip-close:hover {
  color: #666;
}

/* poptip arrow style */
.poptip .arrow {
  width: 0px;
  height: 0px;
  line-height: 0;
  font-size: 0;
  border: 8px dashed transparent;
  position: absolute;
  zoom: 1;
}
.poptip .arrow-top {
  border-bottom: 8px solid transparent;
  top: -16px;
  left: 20px;
}
.poptip .arrow-top .arrow-in {
  border-bottom: 8px solid transparent;
}
.poptip .arrow-top .arrow-in {
  margin-top: -7px;
  margin-left: -8px;
}
.poptip .arrow-right {
  border-left: 8px solid transparent;
  top: 20px;
  right: -16px;
  _right: -17px;
}
.poptip .arrow-right .arrow-in {
  border-left: 8px solid transparent;
}
.poptip .arrow-right .arrow-in {
  margin-top: -8px;
  margin-left: -9px;
}
.poptip .arrow-bottom {
  border-top: 8px solid transparent;
  bottom: -16px;
  left: 20px;
}
.poptip .arrow-bottom .arrow-in {
  border-top: 8px solid transparent;
}
.poptip .arrow-bottom .arrow-in {
  margin-top: -9px;
  margin-left: -8px;
}
.poptip .arrow-left {
  border-right: 8px solid transparent;
  top: 20px;
  left: -16px;
}
.poptip .arrow-left .arrow-in {
  border-left: 8px solid transparent;
}
.poptip .arrow-left .arrow-in {
  margin-top: -8px;
  margin-left: -7px;
}

/* poptip state style */
.poptip-info {
  border: 1px solid #c7dbeb;
  background-color: #edf4fa;
}
.poptip-info .arrow-top {
  border-bottom-color: #c7dbeb;
}
.poptip-info .arrow-top .arrow-in {
  border-bottom-color: #edf4fa;
}
.poptip-info .arrow-right {
  border-left-color: #c7dbeb;
}
.poptip-info .arrow-right .arrow-in {
  border-left-color: #edf4fa;
}
.poptip-info .arrow-bottom {
  border-top-color: #c7dbeb;
}
.poptip-info .arrow-bottom .arrow-in {
  border-top-color: #edf4fa;
}
.poptip-info .arrow-left {
  border-right-color: #c7dbeb;
}
.poptip-info .arrow-left .arrow-in {
  border-right-color: #edf4fa;
}

.poptip-succ {
  border: 1px solid #bed7a8;
  background-color: #ebf9df;
}
.poptip-succ .arrow-top {
  border-bottom-color: #bed7a8;
}
.poptip-succ .arrow-top .arrow-in {
  border-bottom-color: #ebf9df;
}
.poptip-succ .arrow-right {
  border-left-color: #bed7a8;
}
.poptip-succ .arrow-right .arrow-in {
  border-left-color: #ebf9df;
}
.poptip-succ .arrow-bottom {
  border-top-color: #bed7a8;
}
.poptip-succ .arrow-bottom .arrow-in {
  border-top-color: #ebf9df;
}
.poptip-succ .arrow-left {
  border-right-color: #bed7a8;
}
.poptip-succ .arrow-left .arrow-in {
  border-right-color: #ebf9df;
}

.poptip-error {
  border: 1px solid #fad2cd;
  background-color: #faedee;
}
.poptip-error .arrow-top {
  border-bottom-color: #fad2cd;
}
.poptip-error .arrow-top .arrow-in {
  border-bottom-color: #faedee;
}
.poptip-error .arrow-right {
  border-left-color: #fad2cd;
}
.poptip-error .arrow-right .arrow-in {
  border-left-color: #faedee;
}
.poptip-error .arrow-bottom {
  border-top-color: #fad2cd;
}
.poptip-error .arrow-bottom .arrow-in {
  border-top-color: #faedee;
}
.poptip-error .arrow-left {
  border-right-color: #fad2cd;
}
.poptip-error .arrow-left .arrow-in {
  border-right-color: #faedee;
}

.poptip-warn {
  border: 1px solid #e8d4a8;
  background-color: #fcf5e3;
}
.poptip-warn .arrow-top {
  border-bottom-color: #e8d4a8;
}
.poptip-warn .arrow-top .arrow-in {
  border-bottom-color: #fcf5e3;
}
.poptip-warn .arrow-right {
  border-left-color: #e8d4a8;
}
.poptip-warn .arrow-right .arrow-in {
  border-left-color: #fcf5e3;
}
.poptip-warn .arrow-bottom {
  border-top-color: #e8d4a8;
}
.poptip-warn .arrow-bottom .arrow-in {
  border-top-color: #fcf5e3;
}
.poptip-warn .arrow-left {
  border-right-color: #e8d4a8;
}
.poptip-warn .arrow-left .arrow-in {
  border-right-color: #fcf5e3;
}

.txt {
  height: 24px;
  line-height: 24px;
  padding: 5px 4px;
}

.txt, textarea, select {
  border: 1px solid #cccccc;
}
.txt:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #b9c9e3;
}

label input {
  margin: -1px 3px 0 0;
  height: 16px;
  vertical-align: middle;
}

select {
  height: 26px;
  line-height: 20px;
  padding: 2px 1px;
}

.required {
  color: #e04b43;
}

.field,
.field-bd {
  overflow: hidden;
  *zoom: 1;
}

.field {
  padding: 10px 0 10px 90px;
}

.field-tit {
  float: left;
  width: 90px;
  margin-left: -90px;
  text-align: right;
  line-height: 23px;
}

.field-bd {
  padding-left: 10px;
}
.field-bd .text-before, .field-bd .text-after {
  color: #999999;
  margin: 5px 0;
}
.field-bd .text-before {
  margin: 4px 0 6px;
}
.field-bd .choose-group label {
  margin-right: 30px;
}
.field-bd .txt-phone-nation {
  width: 30px;
}
.field-bd .txt-phone-zone {
  width: 70px;
}
.field-bd .txt-phone-number {
  width: 150px;
}
.field-bd .form-error {
  padding-left: 20px;
  margin-top: 6px;
  color: #e04b43;
}
.field-bd .form-error .iconfont {
  margin-top: -2px;
  margin-left: -20px;
  float: left;
}
.field-bd .form-error p {
  margin: 0;
}

.tab-primary {
  border-bottom: 1px solid #dadada;
  margin-bottom: 10px;
}

.tab-primary:before, .tab-primary:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.tab-primary:after {
  clear: both;
}

.tab-primary > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  height: 34px;
  min-width: 100px;
  border-top: 1px solid #dadada;
  background-color: #f2f2f2;
}

.tab-primary > li:first-child {
  margin-left: 0;
}

.tab-primary > li:hover {
  background-color: #fafafa;
}

.tab-primary > li a {
  display: block;
  padding: 0 10px;
  height: 33px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  font: normal 14px/32px arial, "Microsoft Yahei", sans-serif;
  text-align: center;
  color: #333;
}

.tab-primary > li a:hover {
  text-decoration: none;
}

.tab-primary > .on {
  padding-top: 0;
  height: 35px;
  margin-bottom: -1px;
  border-top: 2px solid #208adc;
  background-color: #fafafa;
}

.tab-primary > .tail {
  float: right;
  border-top: none;
  text-align: right;
}

.tab-sub {
  height: 35px;
  border-bottom: 1px solid #208adc;
}

.tab-sub:before, .tab-sub:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.tab-sub:after {
  clear: both;
}

.tab-sub > li {
  float: left;
  margin-left: 10px;
  text-align: center;
  font: normal 14px/34px arial, "Microsoft Yahei", sans-serif;
}

.tab-sub > li:first-child {
  margin-left: 0;
}

.tab-sub > li a {
  display: block;
  height: 34px;
  padding: 0 20px;
  border: 1px solid #cccccc;
  border-bottom: none;
  background-color: #fff;
  text-decoration: none;
}

.tab-sub > li a:link, .tab-sub > li a:visited {
  color: #333;
}

.tab-sub > li a:hover {
  color: #333;
  text-decoration: none;
}

.tab-sub .selected a {
  background-color: #208adc;
  border-color: #208adc;
  text-decoration: none;
}

.tab-sub .selected a:link, .tab-sub .selected a:visited {
  color: #fff;
}

.tab-sub .selected a:hover {
  color: #fff;
  text-decoration: none;
}

.tab-sub .tab-sub-tail {
  float: right;
  text-align: right;
  margin-right: 0;
}

.tab-sub .tab-sub-tail .btn {
  margin-right: 5px;
}

.tab-sub .tab-sub-tail .btn:last-child {
  margin-right: 0;
}

.tab-sub-ope {
  padding-top: 10px;
}

.tab-sub-submit {
  padding: 20px 0;
  background-color: #e6edf5;
  text-align: center;
}

.tab-sub-narrow li {
  margin-left: 3px;
}

.tab-con .tab-node {
  display: none;
}

.tab-con .on {
  display: block;
}

.tab .opt-tab {
  margin-bottom: 15px;
}

.tab {
  margin-bottom: 10px;
}

table {
  width: 100%;
}
table th {
  height: 36px;
  padding: 0 10px;
}
table td {
  padding: 10px;
}

.tb-fixed {
  table-layout: fixed;
}

.tb th {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
}
.tb td {
  border-bottom: 1px solid #e6e6e6;
}

.tb-border {
  border: 1px solid #d9d9d9;
}
.tb-border th, .tb-border td {
  border: 1px solid #e6e6e6;
}

/*
* @des site page style
* @author liw
* @update 2013-08-13
*/
.page {
  margin: 25px auto 0;
  color: #333;
  overflow: hidden;
  *zoom: 1;
}

.page a:link,
.page a:visited {
  color: #333;
}

.page a:hover {
  color: #333;
  text-decoration: underline;
}

/* page amount */
.page .pageAmount {
  float: left;
  height: 26px;
  line-height: 26px;
}

.page .pageAmount a,
.page .pageAmount span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  border: 1px solid white;
}

.page .pageAmount .now,
.page .pageAmount a:hover {
  border: 1px solid #dadada;
  background: #f0f0f0;
  text-decoration: none;
  color: #333;
}

/* page nav */
.page-nav-lst {
  float: right;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
  word-spacing: -4px;
  display: table;
}

.page-nav a,
.page-nav .lnk {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 9px;
  margin-left: -1px;
  text-align: center;
  font-family: Arial;
  border: 1px solid #dadada;
  font-weight: bold;
  vertical-align: middle;
  *display: inline;
  *height: 23px;
  *line-height: 23px;
  *zoom: 1;
  *margin-left: 0;
  word-spacing: 0;
  /*clear inline-block margin*/
}

.page-nav-lst .now,
.page-nav-lst .now:hover {
  background: #1770b4;
  color: #fff;
  border-color: #1770b4;
  text-decoration: none;
}

.page-nav-lst a:hover {
  background: #f0f0f0;
  border-color: #dadada;
  color: #333;
  text-decoration: none;
}

.page-nav-lst .now:link,
.page-nav-lst .now:visited {
  color: #fff;
  cursor: default;
}

.page-nav-lst .now:hover {
  text-decoration: none;
}

.page-nav-lst .nextPage,
.page-nav-lst .prePage,
.page-nav .pageBtn {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  font-weight: normal;
}

.page-nav-lst .nextPage:hover,
.page-nav-lst .prePage:hover,
.page-nav .pageBtn:hover {
  background: #f6f6f6;
  border-color: #dadada;
}

.page-nav-lst .prePage {
  *margin-right: -3px;
}

.page-nav-form {
  float: right;
  line-height: 26px;
  vertical-align: middle;
}

.page-nav-form .txt-mini {
  width: 36px;
  margin: 0 3px;
}

.page-nav-form .pageBtn {
  height: 26px;
  line-height: 24px;
  padding: 0 6px;
  margin: 0;
  color: #666;
  outline: none;
  cursor: pointer;
}

.page-nav-form .pageBtn:hover {
  text-decoration: none;
}

.page-nav-form .text {
  height: 22px;
  border: 1px solid #cccccc;
  overflow: hidden;
  padding: 0 2px;
  overflow: hidden;
}

.page-nav-form .txt {
  height: 24px;
  line-height: 24px;
}

#goToPageSpan {
  display: inline-block;
}

/*page-primary*/
.page-primary .page-nav-lst a.now {
  border-color: #e41b2e;
  background-color: #e41b2e;
}

.page-primary .page-nav-lst a.now:hover {
  background-color: #e41b2e;
}

body {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

/* msg-detail
-------------------------------------------------------------*/
.msg-wrap {
  margin: 20px 0;
}
.msg-wrap:before, .msg-wrap:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.msg-wrap:after {
  clear: both;
}

.msg-record,
.user-info {
  height: 534px;
  border: 1px solid #cccccc;
  background-color: #fff;
}

.hd {
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
}

.bd {
  padding: 20px;
  overflow: auto;
}

.msg-record {
  float: left;
  width: 800px;
}
.msg-record .bd {
  height: 450px;
}
.msg-record .msg-ft {
  padding: 10px;
  background-color: #f2f2f2;
}
.msg-record .msg {
  margin-bottom: 15px;
}
.msg-record .msg dt {
  margin-bottom: 3px;
  color: #999999;
}
.msg-record .msg dd {
  font-size: 14px;
}

.user-info {
  float: right;
  width: 320px;
  margin-left: 20px;
}
.user-info .info-lst {
  margin-bottom: 30px;
  font-size: 14px;
}
.user-info .info-lst li {
  line-height: 26px;
}
.user-info .info-lst .tit {
  color: #999999;
}
.user-info .btn-xl {
  width: 100%;
}

.fold {
  margin-bottom: 30px;
}
.fold .fold-hd {
  height: 30px;
  line-height: 30px;
}
.fold .fold-hd:before, .fold .fold-hd:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.fold .fold-hd:after {
  clear: both;
}
.fold h3 {
  float: left;
  font-size: 14px;
  font-weight: normal;
}

.sum-view {
  width: 380px;
}
.sum-view:before, .sum-view:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.sum-view:after {
  clear: both;
}
.sum-view .cell-view {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 14px;
}
.sum-view .cell-view:first-child {
  border-right: 1px solid #cccccc;
}
.sum-view .cell-view dd {
  color: #e04b43;
  font-size: 16px;
}

.sum-view,
.chart {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #dddddd;
  background-color: #fff;
}

.m-poptip {
  display: inline-block;
  position: relative;
}
.m-poptip .iconfont-feedback {
  color: #f4ab10;
  vertical-align: baseline;
}
.m-poptip .poptip {
  bottom: 28px;
  left: -21px;
  width: 160px;
  text-align: left;
  display: none;
}
.m-poptip:hover .poptip {
  display: block;
}

td {
  background-color: #fff;
}

.product img {
  margin-left: -65px;
  max-width: 60px;
}
.product a {
  display: inline-block;
  padding-left: 65px;
  color: #333;
}
.product a:hover {
  color: #e04b43;
  text-decoration: none;
}

.main-bd-setting .field {
  padding-left: 65px;
}
.main-bd-setting .field-tit {
  width: 60px;
  margin-left: -60px;
  text-align: left;
  line-height: 30px;
}
.main-bd-setting .txt {
  width: 540px;
  height: 30px;
  line-height: 30px;
}
.main-bd-setting .setting-ope {
  margin-top: 15px;
}
.main-bd-setting .tb-hoz {
  width: 300px;
  border: 1px solid #e6e6e6;
}

.set {
  margin: 10px 0;
}
.set:before, .set:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.set:after {
  clear: both;
}
.set p {
  float: left;
  margin-left: 10px;
  line-height: 28px;
  color: #999999;
}

.switch {
  float: left;
}
.switch li {
  float: left;
  width: 45px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #e4e4e4;
}
.switch .on {
  color: #fff;
  background-color: #3ea0eb;
}

.bubble {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 999;
  margin-left: -150px;
  width: 400px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #000000\0;
  filter: alpha(opacity=60);
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.bubble .iconfont {
  margin-right: 3px;
  font-size: 32px;
}
.bubble .iconfont-error {
  color: #f42;
}
.bubble .iconfont-success {
  color: #4c0;
}

.pop-service .faq-set {
  padding: 40px 50px;
}

.pop-tip {
  width: 430px;
  font-size: 14px;
}
.pop-tip .pop-bd {
  padding: 40px 50px;
}
.pop-tip .iconfont-information {
  font-size: 18px;
  color: #fb982a;
}
