@charset "UTF-8";
/*
* des: TM VO
* author: liuyao
* update: 2017/11/6
*/
/* Based on [Eric Meyer's reset 2.0](http://meyerweb.com/eric/tools/css/reset/index.html) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*========== normal style ==========*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #4d4d4d;
  font: 12px/1.5 Arial, Helvetica, SimSun, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
}

img {
  vertical-align: middle;
}

/*========== text ==========*/
h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #0066dd;
}
a:hover {
  color: #e04b43;
  text-decoration: underline;
}

ol {
  margin-left: 1.6em;
  *margin-left: 2em;
}
ol li {
  list-style-type: decimal;
}

.fms {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

.fcn {
  font-family: SimSun;
}

.v-sep {
  color: #cccccc;
  margin: 0 5px;
}

.space {
  margin: 0 3px;
}

/*=========== solution =========*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clearfix:after {
  clear: both;
}

.sl-vam {
  display: table;
  border-collapse: collapse;
  position: relative;
  *overflow: hidden;
}

.sl-vam-outer {
  display: table-cell;
  vertical-align: middle;
  *display: block;
  *position: absolute;
  *top: 50%;
  *left: 50%;
}

.sl-vam-inner {
  text-align: center;
  margin: 0 auto;
  *position: relative;
  *top: -50%;
  *left: -50%;
}

.img-txt, .img-txt .txt {
  overflow: hidden;
  *zoom: 1;
}
.img-txt .img {
  float: left;
  margin-right: 10px;
}

.txt {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

/* color */
.red {
  color: #e04b43;
}

.green {
  color: #229900;
}

.org {
  color: #c79528;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #999999;
}

/* box model */
.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pl15 {
  padding-left: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

/* layout */
.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.poss {
  position: static;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dtb {
  display: table;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

.vab {
  vertical-align: bottom;
}

.vatt {
  vertical-align: text-top;
}

.vatb {
  vertical-align: text-bottom;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.fln {
  float: none;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

@font-face {
  font-family: "iconfont";
  src: url("../../../fonts/iconfont.eot?t=1501730305739");
  /* IE9*/
  src: url("../../../fonts/iconfont.eot?t=1501730305739#iefix") format("embedded-opentype"), url("../../../fonts/iconfont.woff?t=1501730305739") format("woff"), url("../../../fonts/iconfont.ttf?t=1501730305739") format("truetype"), url("../../../fonts/iconfont.svg?t=1501730305739#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.iconfont-error:before {
  content: "\e66b";
}

.iconfont-infomation:before {
  content: "\e66c";
}

.iconfont-close:before {
  content: "\e761";
}

.iconfont-delete:before {
  content: "\e6f2";
}

.iconfont-feedback:before {
  content: "\e6fa";
}

.iconfont-refresh:before {
  content: "\e71e";
}

.iconfont-success:before {
  content: "\e72d";
}

.iconfont-kefu:before {
  content: "\e6d1";
}

.iconfont-set:before {
  content: "\e77f";
}

.iconfont-search:before {
  content: "\e780";
}

.iconfont-img:before {
  content: "\e781";
}

.iconfont-emoji:before {
  content: "\e782";
}

.iconfont-clock:before {
  content: "\e783";
}

.iconfont-pre:before {
  content: "\e784";
}

.iconfont-next:before {
  content: "\e785";
}

.iconfont-arrow-left:before {
  content: "\e786";
}

.iconfont-arrow-right:before {
  content: "\e787";
}

.iconfont-data:before {
  content: "\e611";
}

.iconfont-user:before {
  content: "\e600";
}

.iconfont-seting:before {
  content: "\e60d";
}

.iconfont-arrow-btm:before {
  content: "\e601";
}

/*
* des: TM layout
* author: liuyao
* update: 2017/11/6
*/
.header {
  position: relative;
  height: 70px;
  background-color: #0076be;
}

.main, .side-wrap {
  position: absolute;
  top: 70px;
  bottom: 0;
}

.side-wrap {
  left: 0;
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #dadada;
  overflow: auto;
  z-index: 99;
}

.main {
  left: 200px;
  right: 0;
  overflow: auto;
  background-color: #fafafa;
}

/* menu
----------------------------------------------------------------*/
.menu-wrap {
  padding: 15px;
  position: relative;
}

.menu-hd {
  position: relative;
  margin-bottom: 5px;
  color: #4d4d4d;
  font-weight: 700;
  text-align: left;
  font-size: 14px;
}
.menu-hd .iconfont {
  margin: 0 6px 2px 0;
  font-weight: normal;
}

.menu {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.menu-wrap div:last-child {
  border-bottom: none;
}

.menu-lst {
  margin-bottom: 5px;
}
.menu-lst > li {
  margin-bottom: 4px;
}
.menu-lst a {
  display: block;
  height: 26px;
  line-height: 23px;
  padding-left: 26px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 12px;
  text-decoration: none;
}
.menu-lst a:link, .menu-lst a:visited {
  color: #666666;
}
.menu-lst a:hover {
  color: #666;
  text-decoration: none;
  border-color: #9fd6fd;
  background-color: #e0f2fe;
}

.menu-sub {
  margin-top: 8px;
}
.menu-sub .menu-hd {
  padding-left: 27px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: normal;
}
.menu-sub .menu-hd .iconfont {
  position: absolute;
  top: -2px;
  right: 0;
  font-weight: bold;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.menu-sub .menu-lst a {
  padding-left: 37px;
}

/* main
-----------------------------------------------------------------*/
.main-hd {
  position: relative;
  padding: 8px 20px;
  border-bottom: 1px solid #cccccc;
  color: #4c4c4c;
  font-size: 14px;
}
.main-hd h2 {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 700;
}

.main-bd {
  width: 1140px;
  padding: 20px;
}

/* search
-----------------------------------------------------------------*/
.sch {
  width: 100%;
  padding: 15px 0 1px 0;
  background-color: #f2f7fa;
  border: 1px solid #d3dde7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sch-main {
  padding-bottom: 5px;
  width: 1200px;
}
.sch-main:before, .sch-main:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.sch-main:after {
  clear: both;
}

.sch-lst {
  float: left;
  max-width: 990px;
  padding-left: 20px;
}

.sch-item {
  float: left;
  width: 280px;
  margin: 0 30px 10px 0;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sch-item-tit {
  float: left;
  width: 75px;
  height: 26px;
  line-height: 26px;
  margin-left: -80px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sch-item-bd {
  position: relative;
  width: 100%;
}
.sch-item-bd .sch-input {
  height: 26px;
  line-height: 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sch-item-bd .txt-date {
  width: 90px;
}
.sch-item-bd .icon-delete {
  background-color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  /*display: none;*/
}
.sch-item-bd .icon-delete:hover {
  background-position: -48px -272px;
}
.sch-item-bd .icon-delete:active {
  background-position: -64px -272px;
}
.sch-item-bd .drop-lst {
  width: 100%;
  border-top: none;
}
.sch-item-bd .m-drop-select,
.sch-item-bd .drop-content {
  width: 100%;
}

.sch-btn {
  float: left;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

button.btn,
input.btn {
  margin: 0;
  *overflow: visible;
  *filter: chroma(color=black);
}
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

a.btn:hover {
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: #e0463e;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-primary:link, .btn-primary:visited {
  color: white;
}
.btn-primary:hover {
  background-color: #b5241d;
  color: white;
}
.btn-primary:active {
  background-color: #e45b54;
}

.btn-warn {
  color: #674800;
  background-color: #ffdb1a;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-warn:link, .btn-warn:visited {
  color: #674800;
}
.btn-warn:hover {
  background-color: #cdac00;
  color: #674800;
}
.btn-warn:active {
  background-color: #ffdf34;
}

.btn-info {
  color: white;
  background-color: #4499ee;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-info:link, .btn-info:visited {
  color: white;
}
.btn-info:hover {
  background-color: #1373d2;
  color: white;
}
.btn-info:active {
  background-color: #5ba6f0;
}

.btn-default {
  color: #666666;
  background-color: #f4f4f4;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-default:link, .btn-default:visited {
  color: #666666;
}
.btn-default:hover {
  background-color: #cecece;
  color: #666666;
}
.btn-default:active {
  background-color: white;
}

.btn-blank {
  color: #333333;
  background-color: white;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid #e0e0e0;
}
.btn-blank:link, .btn-blank:visited {
  color: #333333;
}
.btn-blank:hover {
  background-color: #d9d9d9;
  color: #333333;
}
.btn-blank:active {
  background-color: white;
}
.btn-blank:hover {
  background: #49e;
  border-color: #49e;
  color: #fff;
}

.btn-xs {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

button.btn-xs,
input.btn-xs {
  height: 22px;
  _height: 17px;
  *line-height: 17px;
}

.btn-s {
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  font-size: 12px;
}

button.btn-s,
input.btn-s {
  height: 24px;
  _height: 19px;
  *line-height: 19px;
}

.btn-m {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-m,
input.btn-m {
  height: 30px;
  _height: 25px;
  *line-height: 25px;
}

.btn-l {
  height: 32px;
  line-height: 32px;
  padding: 0 25px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-l,
input.btn-l {
  height: 34px;
  _height: 29px;
  *line-height: 29px;
}

.btn-xl {
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

button.btn-xl,
input.btn-xl {
  height: 38px;
  _height: 33px;
  *line-height: 33px;
}

.disabled,
.disabled:hover {
  background-color: #e6e6e6;
  border: none;
  color: #999999;
  cursor: not-allowed;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

a.disabled:link,
a.disabled:visited {
  color: #999999;
}

.btn-icon {
  padding-left: 26px;
  padding-right: 10px;
  position: relative;
}

.btn-icon .icon {
  position: absolute;
  left: 10px;
  top: 6px;
  _display: block;
  _top: 4px;
}

.btn-drop {
  display: inline-block;
  _display: inline;
  width: 71px;
}

.btn-drop-current {
  cursor: pointer;
  border: 1px solid #bfbfbf;
  height: 17px;
  width: 69px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-drop-current a {
  float: left;
  line-height: 18px;
  padding: 0 5px;
  width: 42px;
}

.btn-drop-arrow {
  float: left;
  width: 16px;
  height: 17px;
  border-left: 1px solid #bfbfbf;
  background-color: #fff;
  position: relative;
}

.btn-drop-arrow i {
  position: absolute;
  height: 0;
  width: 1px;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 3px 3px 0;
  border-color: gray white white white;
  background-color: #808080;
  top: 7px;
  left: 4px;
}

.btn-drop-current:hover {
  background-color: #4078bb;
  border-color: #3c7ac7 #4078bd #1f5699;
}

.btn-drop-current:hover .btn-drop-arrow {
  border-left: 1px solid #216ca6;
  background-color: transparent;
}

.btn-drop-current:hover .btn-drop-arrow i {
  border-color: white #4078bb #4078bb #4078bb;
}

.btn-drop-current:hover a:link,
.btn-drop-current:hover a:visited,
.btn-drop-current:hover a:hover {
  color: #fff;
}

.btn-drop-down {
  position: absolute;
  border: 1px solid #cccccc;
  border-top: none;
  z-index: 9;
  width: 69px;
}

.btn-drop-down ul {
  margin: 0 !important;
}

.btn-drop-down a {
  display: block;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
}

.btn-drop-down a:link,
.btn-drop-down a:visited {
  color: #666;
}

.btn-drop-down a:hover {
  color: #333;
  background-color: #dfecf5;
}

.alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
  z-index: 998;
  display: none;
}

.pop {
  display: none;
  width: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}
.pop .pop-hd {
  padding: 0 25px;
  height: 50px;
  background-color: #49e;
  color: #fff;
  overflow: hidden;
}
.pop .pop-hd h3 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}
.pop .pop-hd .iconfont-close {
  float: right;
  margin-top: 12px;
  cursor: pointer;
}
.pop .pop-ft {
  margin-bottom: 40px;
  padding: 15px 0 10px;
  text-align: center;
}
.pop .pop-ft .btn {
  margin: 0 5px;
}

.pop-alert {
  width: 300px;
}
.pop-alert .pop-bd {
  font-size: 14px;
  padding: 20px;
}

.tip-alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 100;
}

.pop-m {
  width: 600px;
}

.txt {
  height: 24px;
  line-height: 24px;
  padding: 5px 4px;
}

.txt, textarea, select {
  border: 1px solid #cccccc;
}
.txt:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #b9c9e3;
}

label input {
  margin: -1px 3px 0 0;
  height: 16px;
  vertical-align: middle;
}

select {
  height: 26px;
  line-height: 20px;
  padding: 2px 1px;
}

.required {
  color: #e04b43;
}

.field,
.field-bd {
  overflow: hidden;
  *zoom: 1;
}

.field {
  padding: 10px 0 10px 90px;
}

.field-tit {
  float: left;
  width: 90px;
  margin-left: -90px;
  text-align: right;
  line-height: 23px;
}

.field-bd {
  padding-left: 10px;
}
.field-bd .text-before, .field-bd .text-after {
  color: #999999;
  margin: 5px 0;
}
.field-bd .text-before {
  margin: 4px 0 6px;
}
.field-bd .choose-group label {
  margin-right: 30px;
}
.field-bd .txt-phone-nation {
  width: 30px;
}
.field-bd .txt-phone-zone {
  width: 70px;
}
.field-bd .txt-phone-number {
  width: 150px;
}
.field-bd .form-error {
  margin-top: 6px;
  color: #e04b43;
}
.field-bd .form-error p {
  margin: 0;
}

.tab-menu:before, .tab-menu:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.tab-menu:after {
  clear: both;
}
.tab-menu > li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.tab-menu .on {
  background-color: #fff;
}

.tab-con {
  padding: 40px 50px 0;
}

body {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
