/*
* des: TM layout
* author: liuyao
* update: 2017/11/6
*/

.header{
  position: relative;
  height: 70px;
  background-color: #0076be;
}

.main,.side-wrap {
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0
}

.side-wrap {
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #dadada;
  overflow: auto;
  z-index: 99
}

.main {
  left: 200px;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #fafafa
}


/* menu
----------------------------------------------------------------*/
.menu-wrap {
  padding: 15px;
  position: relative;
}


.menu-hd {
  position: relative;
  margin-bottom: 5px;
  color: #4d4d4d;
  font-weight: 700;
  text-align: left;
  font-size: 14px;
  .iconfont {
    margin: 0 6px 2px 0;
    font-weight: normal;
  }
}


.menu {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb
}

.menu-wrap div:last-child {
  border-bottom: none
}

.menu-lst{
  margin-bottom: 5px;
  >li {
    margin-bottom: 4px
  }
  a {
    display: block;
    height: 26px;
    line-height: 23px;
    padding-left: 26px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    &:link,
    &:visited{
      color: #666
    }
    &:hover {
      color: #666;
      text-decoration: none;
      border-color: #9fd6fd;
      background-color: #e0f2fe
    }
  }
}

.menu-sub{
  margin-top: 8px;
  .menu-hd{
    padding-left: 27px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: normal;
    .iconfont{
      position: absolute;
      top: -2px;
      right: 0;
      font-weight: bold;
      @include rotateX(180deg);
    }
  }
  .menu-lst a{
    padding-left: 37px;
  }

}