@charset "UTF-8";
/* color */
/* line 4, ../../sass/base/atom.scss */
.red {
  color: #e04b43;
}

/* line 7, ../../sass/base/atom.scss */
.green {
  color: #229900;
}

/* line 10, ../../sass/base/atom.scss */
.org {
  color: #c79528;
}

/* line 13, ../../sass/base/atom.scss */
.gray {
  color: #666666;
}

/* line 16, ../../sass/base/atom.scss */
.gray-light {
  color: #999999;
}

/* box model */
/* line 22, ../../sass/base/atom.scss */
.mt5 {
  margin-top: 5px;
}

/* line 25, ../../sass/base/atom.scss */
.mr5 {
  margin-right: 5px;
}

/* line 28, ../../sass/base/atom.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 31, ../../sass/base/atom.scss */
.ml5 {
  margin-left: 5px;
}

/* line 34, ../../sass/base/atom.scss */
.pt5 {
  padding-top: 5px;
}

/* line 37, ../../sass/base/atom.scss */
.pr5 {
  padding-right: 5px;
}

/* line 40, ../../sass/base/atom.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 43, ../../sass/base/atom.scss */
.pl5 {
  padding-left: 5px;
}

/* line 22, ../../sass/base/atom.scss */
.mt10 {
  margin-top: 10px;
}

/* line 25, ../../sass/base/atom.scss */
.mr10 {
  margin-right: 10px;
}

/* line 28, ../../sass/base/atom.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 31, ../../sass/base/atom.scss */
.ml10 {
  margin-left: 10px;
}

/* line 34, ../../sass/base/atom.scss */
.pt10 {
  padding-top: 10px;
}

/* line 37, ../../sass/base/atom.scss */
.pr10 {
  padding-right: 10px;
}

/* line 40, ../../sass/base/atom.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 43, ../../sass/base/atom.scss */
.pl10 {
  padding-left: 10px;
}

/* line 22, ../../sass/base/atom.scss */
.mt15 {
  margin-top: 15px;
}

/* line 25, ../../sass/base/atom.scss */
.mr15 {
  margin-right: 15px;
}

/* line 28, ../../sass/base/atom.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 31, ../../sass/base/atom.scss */
.ml15 {
  margin-left: 15px;
}

/* line 34, ../../sass/base/atom.scss */
.pt15 {
  padding-top: 15px;
}

/* line 37, ../../sass/base/atom.scss */
.pr15 {
  padding-right: 15px;
}

/* line 40, ../../sass/base/atom.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 43, ../../sass/base/atom.scss */
.pl15 {
  padding-left: 15px;
}

/* line 22, ../../sass/base/atom.scss */
.mt20 {
  margin-top: 20px;
}

/* line 25, ../../sass/base/atom.scss */
.mr20 {
  margin-right: 20px;
}

/* line 28, ../../sass/base/atom.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 31, ../../sass/base/atom.scss */
.ml20 {
  margin-left: 20px;
}

/* line 34, ../../sass/base/atom.scss */
.pt20 {
  padding-top: 20px;
}

/* line 37, ../../sass/base/atom.scss */
.pr20 {
  padding-right: 20px;
}

/* line 40, ../../sass/base/atom.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 43, ../../sass/base/atom.scss */
.pl20 {
  padding-left: 20px;
}

/* layout */
/* line 49, ../../sass/base/atom.scss */
.posr {
  position: relative;
}

/* line 52, ../../sass/base/atom.scss */
.posa {
  position: absolute;
}

/* line 55, ../../sass/base/atom.scss */
.poss {
  position: static;
}

/* line 58, ../../sass/base/atom.scss */
.hidden {
  visibility: hidden;
}

/* line 61, ../../sass/base/atom.scss */
.visible {
  visibility: visible;
}

/* line 64, ../../sass/base/atom.scss */
.db {
  display: block;
}

/* line 67, ../../sass/base/atom.scss */
.di {
  display: inline;
}

/* line 70, ../../sass/base/atom.scss */
.dib {
  display: inline-block;
}

/* line 73, ../../sass/base/atom.scss */
.dtb {
  display: table;
}

/* line 76, ../../sass/base/atom.scss */
.vat {
  vertical-align: top;
}

/* line 79, ../../sass/base/atom.scss */
.vam {
  vertical-align: middle;
}

/* line 82, ../../sass/base/atom.scss */
.vab {
  vertical-align: bottom;
}

/* line 85, ../../sass/base/atom.scss */
.vatt {
  vertical-align: text-top;
}

/* line 88, ../../sass/base/atom.scss */
.vatb {
  vertical-align: text-bottom;
}

/* line 91, ../../sass/base/atom.scss */
.tal {
  text-align: left;
}

/* line 94, ../../sass/base/atom.scss */
.tac {
  text-align: center;
}

/* line 97, ../../sass/base/atom.scss */
.tar {
  text-align: right;
}

/* line 100, ../../sass/base/atom.scss */
.fll {
  float: left;
}

/* line 103, ../../sass/base/atom.scss */
.flr {
  float: right;
}

/* line 106, ../../sass/base/atom.scss */
.fln {
  float: none;
}

/* line 109, ../../sass/base/atom.scss */
.fwn {
  font-weight: normal;
}

/* line 112, ../../sass/base/atom.scss */
.fwb {
  font-weight: bold;
}
