@charset "UTF-8";
/* line 13, ../../sass/base/grid.scss */
.col-1 {
  float: left;
  width: 30px;
}

/* line 13, ../../sass/base/grid.scss */
.col-2 {
  float: left;
  width: 70px;
}

/* line 13, ../../sass/base/grid.scss */
.col-3 {
  float: left;
  width: 110px;
}

/* line 13, ../../sass/base/grid.scss */
.col-4 {
  float: left;
  width: 150px;
}

/* line 13, ../../sass/base/grid.scss */
.col-5 {
  float: left;
  width: 190px;
}

/* line 13, ../../sass/base/grid.scss */
.col-6 {
  float: left;
  width: 230px;
}

/* line 13, ../../sass/base/grid.scss */
.col-7 {
  float: left;
  width: 270px;
}

/* line 13, ../../sass/base/grid.scss */
.col-8 {
  float: left;
  width: 310px;
}

/* line 13, ../../sass/base/grid.scss */
.col-9 {
  float: left;
  width: 350px;
}

/* line 13, ../../sass/base/grid.scss */
.col-10 {
  float: left;
  width: 390px;
}

/* line 13, ../../sass/base/grid.scss */
.col-11 {
  float: left;
  width: 430px;
}

/* line 13, ../../sass/base/grid.scss */
.col-12 {
  float: left;
  width: 470px;
}

/* line 13, ../../sass/base/grid.scss */
.col-13 {
  float: left;
  width: 510px;
}

/* line 13, ../../sass/base/grid.scss */
.col-14 {
  float: left;
  width: 550px;
}

/* line 13, ../../sass/base/grid.scss */
.col-15 {
  float: left;
  width: 590px;
}

/* line 13, ../../sass/base/grid.scss */
.col-16 {
  float: left;
  width: 630px;
}

/* line 13, ../../sass/base/grid.scss */
.col-17 {
  float: left;
  width: 670px;
}

/* line 13, ../../sass/base/grid.scss */
.col-18 {
  float: left;
  width: 710px;
}

/* line 13, ../../sass/base/grid.scss */
.col-19 {
  float: left;
  width: 750px;
}

/* line 13, ../../sass/base/grid.scss */
.col-20 {
  float: left;
  width: 790px;
}

/* line 13, ../../sass/base/grid.scss */
.col-21 {
  float: left;
  width: 830px;
}

/* line 13, ../../sass/base/grid.scss */
.col-22 {
  float: left;
  width: 870px;
}

/* line 13, ../../sass/base/grid.scss */
.col-23 {
  float: left;
  width: 910px;
}

/* line 13, ../../sass/base/grid.scss */
.col-24 {
  float: left;
  width: 950px;
}

/* line 13, ../../sass/base/grid.scss */
.col-25 {
  float: left;
  width: 990px;
}

/* line 13, ../../sass/base/grid.scss */
.col-26 {
  float: left;
  width: 1030px;
}

/* line 13, ../../sass/base/grid.scss */
.col-27 {
  float: left;
  width: 1070px;
}

/* line 13, ../../sass/base/grid.scss */
.col-28 {
  float: left;
  width: 1110px;
}

/* line 13, ../../sass/base/grid.scss */
.col-29 {
  float: left;
  width: 1150px;
}

/* line 13, ../../sass/base/grid.scss */
.col-30 {
  float: left;
  width: 1190px;
}
