// pop scss
// required: _setting.scss, css3.scss

@import "../base/lib";

// variables 
$popBaseClass: pop;
$maskBaseClass: alpha;

$popBorder: 5px solid #4c4c4c;


// mask base style
.#{$maskBaseClass}{
	@include mask;
	@include opacity;
	zoom: 1;
	z-index: 998;
	display: none;
}

.#{$popBaseClass}{
	display: none;
	width: 400px;
	background-color: #fff;
	border: $popBorder;
	position: absolute;
	z-index: 999;
	.#{$popBaseClass}-hd{
		padding: 0 10px;
		height: 34px;
		background-color: #f5f5f5;
		border-bottom: 1px solid #e6e6e6;
		overflow: hidden;
		@if ite7{*zoom: 1;}
		h3{
			float: left;
			font-size: $f14;
			line-height: 34px;
		}
		.icon-close{
			float: right;
			margin-top: 9px;
			cursor: pointer;
		}
	}
	.#{$popBaseClass}-bd{padding: 10px;}
	.#{$popBaseClass}-ft{
		padding: 15px 0 10px;
		text-align: center;
		.btn{
			margin: 0 5px;
		}
	}
}

.#{$popBaseClass}-alert{
	width: 300px;
	.#{$popBaseClass}-bd{
		font-size: $f14;
		padding: 20px;
	}
}

.tip-#{$maskBaseClass}{
	@include mask;
	@include opacity;
	z-index: 100;
}