.prod-tab{
  overflow: hidden;
  li{
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
  }
  .on{
    background-color: #fff;
    color: #333;
  }

}

.prod-tab-con{
  padding: 20px 30px;
  height: 590px;
  overflow-y: scroll;
  overflow-x: hidden;
  .prod-tip{
    margin-top: 140px;
    font-size: 16px;
    text-align: center;
    color:#666;
    .iconfont-information{
      font-size: 20px;
      color:#ffb300;
    }
  }
}


// 浏览商品
//===============================================================================
// 公司信息
.com-panel{
  padding-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;
  h4{
    font-weight: normal;
    font-size: 14px;
  }
  .com-cert{
    margin-bottom: 5px;
  }
  .accnt{
    overflow: hidden;
    dt,dd{
      float: left;
      line-height: 24px;
    }
    dt{
      color: #999;
    }
    dd{
      min-width: 70px;
      a{
        color: #333;
        &:hover{
          color: #e04b43;
        }
      }
    }
  }
}

// 商品信息
.prod-lst-wrap{
  padding: 16px 0 5px;
  .prod-hd{
    margin-bottom: 11px;
    overflow: hidden;
    h3{
      float: left;
      font-size: 14px;
      font-weight: normal;
    }
    .order-time{
      color: #999;
      float: right;
    }
  }
  .prod-lst{
    li{
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .prod-lst-history{
    li{
      padding-bottom: 0;
      margin-bottom: 15px;
      border-bottom: none;
    }
  }
  .prod-bd{
    padding-left: 70px;
    overflow: hidden;
    .prod-pic-wrap{
      float: left;
      display: table;
      width: 60px;
      margin-left: -70px;
      .prod-pic{
        display: table-cell;
        vertical-align: middle;
        img{
          width: 100%;
        }
      }
    }
  }
  .prod-info{
    float: left;
    width: 100%;
    dt{
      width: 140px;
      height: 38px;
      font-size: 14px;
      line-height: 18px;
      overflow: hidden;
      a{
        color: #333;
        &:hover{
          color: #e04b43;
        }
      }
    }
    dd{
      overflow: hidden;
      .prod-price{
        display: inline-block;
        margin-top: 1px;
        font-size: 14px;
        color: red;
      }
      .btn{
        float: right;
      }
    }
  }
}







