/*
* des: TM online interface
* author: liuyao
* update: 2017/8/3
*/


// import base css
@import "../base/lib";
@import "../base/reset";
@import "../base/common";
@import "../base/atom";
@import "../base/fonts";

// import ui css
@import "../ui/ui_button";
@import "../ui/ui_pop";
@import "../ui/ui_form";
@import "../ui/ui_tab";




// layout
body{
  background-color: #666;
  font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track {
  background-color: transparent
}

.wrap{
  padding-top: 100px;
}
.main{
  width: 1190px;
  height: 640px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  @include clearfix();
}


// common style
.avatar{
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  img{
    width: 100%;
    text-align: center;
  }
}



// 左侧面板
//===============================================================================
.panel{
  float: left;
  width: 230px;
  background-color: #4498ee;
  .iconfont{
    color: #fff;
  }
  // 头像
  .avatar{
    float: left;
    margin-left: -40px;
  }
  // 用户信息
  .info{
    margin-left: 8px;
    @include clearfix();
    .nickname{
      float: left;
      font-weight: 400;
      word-wrap: normal;
      font-size: 14px;
      color: #fff;
      vertical-align: top;
      text-decoration: none;
      @include text-clip(110px);
      @if($ie8){
        width: 90px\0;
      }
    }
  }
}

// 左侧面板-头部
.header{
  padding: 20px 20px 20px 60px;
  // 用户信息
  .info{
    .nickname{
      line-height: 40px;
    }
    .opt{
      float: right;
      margin-top: 8px;
      .iconfont-set{
        display: inline-block;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
// 左侧面板-搜索
.search-bar{
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  background-color: #3387dd;
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #b7cceb;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #b7cceb;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #b7cceb;
  }
  .txt{
    margin-left: 10px;
    border: none;
    background-color: #3387dd;
    color: #fff;
  }
}


// 左侧面板-聊天对象
.nav-view{
  height: 528px;
  overflow-y: scroll;
  .nav-view-tip{
    margin-top: 90px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
  }
}
.chat-item{
  width: 100%;
  height: 70px;
  padding: 15px 20px 15px 60px;
  cursor: pointer;
  @include clearfix();
  .avatar{
    float: left;
    margin-left: -40px;
  }
  .info{
    padding: 2px 0;
  }
  .hd{
    overflow: hidden;
    .num{
      float: right;
      height: 16px;
      line-height: 16px;
      margin-top: 2px;
      padding: 0 2px;
      text-align: center;
      border-radius: 50%;
      background-color: #ff4422;
      font-size: 11px;
      color: #fff;
      b{
        @include scale(0.6);
      }
    }
  }
  // 消息
  .bd{
    color: #88ccff;
    overflow: hidden;
    .msg{
      @include text-clip(100px);
      @if($ie == true){
        width: 90px\0;
      }
      float: left;
    }
    .time{
      float: right;
    }
  }
}
.chat-item.on{
  background-color: #ffb600;
  .bd{
    color: #ffeebb;
  }
}




// 聊天区域
//===============================================================================
.chat-area{
  position: relative;
  z-index: 99;
  float: left;
  width: 630px;
  border-right: $baseBorder;
  background-color: #fff;
}

// chat-area-hd
.chat-area-hd{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: $baseBorder;
  @include clearfix();
  h2{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
  }
  .status{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-radius: 50%;
    background-color: #44cc00;
  }
  .status-off{
    background-color: #ccc;
  }

}

// 提示消息
.chat-tip{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #f2f2f2;
  font-size: 12px;
  overflow: hidden;
  .iconfont-close{
    float: right;
    cursor: pointer;
  }
}

// chat-area-bd
.chat-area-bd{
  position: relative;
  max-height: 425px;
  min-height: 395px;
  padding: 10px 20px;
  border-bottom: $baseBorder;
  overflow-y: scroll;
  font-size: 14px;
  // 系统消息
  .msg-system{
    position: relative;
    margin: 10px auto;
    max-width: 50%;
    text-align: center;
    font-size: 12px;
    color: #999;
    clear: both;
  }
  .msg-system-his{
    margin-top: 20px;
    .line{
      position: absolute;
      top: 8px;
      width: 40px;
      border-top: $baseBorder;
    }
    .line-left{
      left: 55px;
    }
    .line-right{
      right: 55px;
    }
  }
  // 预置消息
  .msg-pre{
    display: inline-block;
    width: 240px;
    padding: 10px 14px;
    margin: 10px 0;
    border: $baseBorder;
    background-color: #f2f2f2;
    dt{
      margin-bottom: 3px;
    }
  }

  // 聊天消息
  .msg{
    overflow: hidden;
    margin: 5px 0;
    .content{
      position: relative;
      max-width: 300px;
      padding: 10px;
      line-height: 21px;
      border-radius: 3px;
    }
  }

  // 接收消息
  .msg-in{
    padding-left: 50px;
    float: left;
    text-align: left;
    clear: left;
    .avatar{
      float: left;
      margin-left: -50px;
    }
    .content{
      display: inline-block;
      background-color: #ffeecc;

      &:before{
        position: absolute;
        top: 13px;
        left: -16px;
        content: "";
        @include triangle-left(8px,#ffeecc);
      }
    }
  }

  // 发送消息
  .msg-out{
    padding-right: 50px;
    float: right;
    text-align: right;
    clear: right;
    .avatar{
      float: right;
      margin-right: -50px;
    }
    .content{
      background-color: #ddeeff;
      text-align: left;
      &:after{
        position: absolute;
        top: 13px;
        right: -16px;
        content: "";
        @include triangle-right(8px,#ddeeff);
      }
    }
    .msg-failed{
      margin-top: 5px;
      font-size: 12px;
      text-align: left;
      .iconfont-information{
        color: #f7411a;
        vertical-align: -1px;
      }
    }
  }

}



// 输入区域
//===============================================================================
.chat-edit{
  position: relative;
  height: 165px;

  // 工具栏
  .toolbar{
    padding: 4px 17px;
    .toolbar-item{
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 16px;
      padding: 3px;
      border: 1px solid #fff;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      &:hover{
        border: 1px solid #999;
      }

    }
    .iconfont{
      margin-right: 5px;
    }
  }

  // 编辑区域
  .edit-box{
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    outline: none;
    border: 0;
    font-size: 14px;

    white-space: pre-wrap;
    word-break: normal;
  }

  // 发送按钮
  .action{
    position: absolute;
    right: 20px;
    bottom: 20px;
    .desc{
      color: #999;
      font-size: 12px;
      margin-left: 10px;
      margin-right: 7px;
    }
  }


}



// sidebar
//===============================================================================
.sidebar{
  float: left;
  width: 330px;
  position: relative;
}



.msg-history{
  position: absolute;
  width: 330px;
  height: 640px;
  background: #fff;
  @include transition(all ease .5s);
  .msg-history-hd{
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 30px;
    border-bottom: $baseBorder;
    @include clearfix();
    h2{
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
    }
    .iconfont-close{
      float: right;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .msg-history-bd{
    height: 525px;
    padding: 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  // 历史消息
  .record{
    margin-bottom: 10px;
    .record-time{
      margin: 0 30px;
      font-weight: bold;
      line-height: 24px;
      border-bottom: $baseBorder;
    }

    .record-lst li{
      padding: 7px 30px;
      &:hover{
        background-color: #f2f2f2;
      }
    }
    .record-txt-hd{
      color: #999;
    }
  }


  .msg-history-ft{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
  }
  // filter
  .filter-area{
    padding: 5px 15px 0;
    line-height: 24px;
    background-color: #f2f2f2;
    @include transition(all ease .3s);
    select,
    input{
      width: 80px;
      height: 24px;
      line-height: 24px;
      padding: 0 3px;
      border: $baseBorder;
      font-size: 12px;
    }
    select{
      margin-right: 15px;
    }
  }
  .pager{
    position: relative;
    z-index: 9;
    padding: 5px 15px;
    background-color: #f2f2f2;
    @include clearfix();
    .search{
      float: left;
      width: 56px;
      height: 23px;
      line-height: 23px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #f2f2f2;
      border-radius: 2px;
      .iconfont-search{
        margin-right: 5px;
        font-size: 14px;
      }
      &:hover{
        border: 1px solid #999;
      }
    }
    .pager-nav{
      float: right;
      input{
        height: 20px;
        line-height: 20px;
        width: 40px;
        padding: 0 3px;
        border: $baseBorder;
        font-size: 12px;
      }
      .iconfont{
        display: inline-block;
        padding: 0 3px;
        margin-left: -3px;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        cursor: pointer;
        font-size: 14px;
        &:hover{
          border: 1px solid #999;
        }
      }
    }
  }

}





// 弹出层
//===============================================================================

// 客服设置
.pop-service{
  .txtarea{
    width: 100%;
    height: 80px;
  }
}









// animate
.iconfont-set{
  @include transition(all ease 1s);
  &:hover{
    @include transform(rotate(180deg));
  }
}
.iconfont-close{
  @include transition(all ease .5s);
  &:hover{
    @include transform(rotate(180deg));
  }
}


// 左侧淡入
.fadeInL{
  opacity: 1;
  @include transform(translateX(0px));
}
.fadeOutL{
  opacity: 0;
  @include transform(translateX(-330px));
}

// 底部淡入
.fadeInB{
  opacity: 1;
  @include transform(translateY(0px));
}
.fadeOutB{
  opacity: 0;
  @include transform(translateY(30px));
}