/*
* des: TM VO
* author: liuyao
* update: 2017/11/6
*/


// import base css
@import "../base/lib";
@import "../base/reset";
@import "../base/common";
@import "../base/atom";
@import "../base/fonts";


// import component css
@import "../component/vo_layout";

// import ui css
@import "../ui/ui_button";
@import "../ui/ui_pop";
@import "../ui/ui_tip";
@import "../ui/ui_form";
@import "../ui/ui_tab";
@import "../ui/ui_table";
@import "../ui/ui_pager";


body{
  font-family: $fontYaHei;
}


/* msg-detail
-------------------------------------------------------------*/
.msg-wrap{
  margin: 20px 0;
  @include clearfix();
}
.msg-record,
.user-info{
  height: 534px;
  border: 1px solid #ccc;
  background-color: #fff;
}


.hd{
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.bd{
  padding: 20px;
  overflow: auto;
}

.msg-record{
  float: left;
  width: 800px;

  .bd{
    height: 450px;
  }
  .msg-ft{
    padding: 10px;
    background-color: #f2f2f2;
  }
  .msg{
    margin-bottom: 15px;
    dt{
      margin-bottom: 3px;
      color: $grayLight;
    }
    dd{
      font-size: 14px;
    }
  }
}
.user-info{
  float: right;
  width: 320px;
  margin-left: 20px;
  .info-lst{
    margin-bottom: 30px;
    font-size: 14px;
    li{
      line-height: 26px;
    }
    .tit{
      color:$grayLight;
    }
  }
  .btn-xl{
    width: 100%;
  }
}


// fold
.fold {
  margin:  20px 0;
  .fold-hd {
    height: 30px;
    line-height: 30px;
    @include clearfix();
  }
  h3 {
    float: left;
    font-size: 14px;
    font-weight: normal;
  }
}

// chart
.sum-view{
  width: 380px;
  @include clearfix();
  .cell-view{
    float: left;
    width: 50%;
    text-align: center;
    font-size: 14px;
    &:first-child{
      border-right: 1px solid #ccc;
    }
    dd{
      color:$red;
      font-size: 16px;
    }
  }
}
.sum-view,
.chart{
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}


// m-poptip
.m-poptip{
  display: inline-block;
  position: relative;
  .iconfont-feedback{
    color: #f4ab10;
    vertical-align: baseline;
  }
  .poptip{
    bottom: 28px;
    left: -21px;
    width: 160px;
    text-align: left;
  }
}


