/*
* des: TM VO
* author: liuyao
* update: 2017/11/6
*/


// import base css
@import "../base/lib";
@import "../base/bootstrap";
@import "../base/reset";
@import "../base/common";
@import "../base/atom";
@import "../base/fonts";


// import component css
@import "../component/vo_layout";

// import ui css
@import "../ui/ui_button";
@import "../ui/ui_pop";
@import "../ui/ui_tip";
@import "../ui/ui_form";
@import "../ui/ui_tab_vo";
@import "../ui/ui_table";
@import "../ui/ui_pager";


body{
  font-family: $fontYaHei;
}


/* msg-detail
-------------------------------------------------------------*/
.msg-wrap{
  margin: 20px 0;
  @include clearfix();
}
.msg-record,
.user-info{
  height: 534px;
  border: 1px solid #ccc;
  background-color: #fff;
}


.hd{
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.bd{
  padding: 20px;
  overflow: auto;
}

.msg-record{
  float: left;
  width: 800px;

  .bd{
    height: 450px;
  }
  .msg-ft{
    padding: 10px;
    background-color: #f2f2f2;
  }
  .msg{
    margin-bottom: 15px;
    dt{
      margin-bottom: 3px;
      color: $grayLight;
    }
    dd{
      font-size: 14px;
    }
  }
}
.user-info{
  float: right;
  width: 320px;
  margin-left: 20px;
  .info-lst{
    margin-bottom: 30px;
    font-size: 14px;
    li{
      line-height: 26px;
    }
    .tit{
      color:$grayLight;
    }
  }
  .btn-xl{
    width: 100%;
  }
}


// fold
.fold {
  margin-bottom: 30px;
  .fold-hd {
    height: 30px;
    line-height: 30px;
    @include clearfix();
  }
  h3 {
    float: left;
    font-size: 14px;
    font-weight: normal;
  }
}

// chart
.sum-view{
  width: 380px;
  @include clearfix();
  .cell-view{
    float: left;
    width: 50%;
    text-align: center;
    font-size: 14px;
    &:first-child{
      border-right: 1px solid #ccc;
    }
    dd{
      color:$red;
      font-size: 16px;
    }
  }
}
.sum-view,
.chart{
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}


// m-poptip
.m-poptip{
  display: inline-block;
  position: relative;
  .iconfont-feedback{
    color: #f4ab10;
    vertical-align: baseline;
  }
  .poptip{
    bottom: 28px;
    left: -21px;
    width: 160px;
    text-align: left;
    display: none;
  }
  &:hover .poptip{
    display: block;
  }
}


// tab
td{
  background-color: #fff;
}
.product{
  img{
    margin-left: -65px;
    max-width: 60px;
  }
  a{
    display: inline-block;
    padding-left: 65px;
    color:#333;
    &:hover{
      color:#e04b43;
      text-decoration: none;
    }
  }
}


// setting
.main-bd-setting{
  .field{
    padding-left: 65px;
  }
  .field-tit{
    width: 60px;
    margin-left: -60px;
    text-align: left;
    line-height: 30px;
  }
  .txt{
    width: 540px;
    height: 30px;
    line-height: 30px;
  }
  .setting-ope{
    margin-top: 15px;
  }
  .tb-hoz{
    width: 300px;
    border: 1px solid #e6e6e6;
  }
}


.set{
  margin: 10px 0;
  @include clearfix();
  p{
    float: left;
    margin-left: 10px;
    line-height: 28px;
    color:$grayLight;
  }
}
.switch{
  float: left;
  li{
    float: left;
    width: 45px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #e4e4e4;
  }
  .on{
    color:#fff;
    background-color: #3ea0eb;
  }
}



// bubble
.bubble{
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 999;
  margin-left: -150px;
  width: 400px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  @if($ie8){
    background-color: #000000\0;
    filter:alpha(opacity=60);
  }
  font-size: 16px;
  text-align: center;
  color: #fff;
  .iconfont{
    margin-right: 3px;
    font-size: 32px;
  }
  .iconfont-error{
    color: #f42;
  }
  .iconfont-success{
    color: #4c0;
  }
}

// 提示
.pop-service{
  .faq-set{
    padding: 40px 50px;
  }
}
.pop-tip{
  width: 430px;
  font-size: 14px;
  .pop-bd{
    padding: 40px 50px;
  }
  .iconfont-information{
    font-size: 18px;
    color: #fb982a;
  }
}
