@charset "UTF-8";
/* line 24, ../../sass/ui/ui_icon.scss */
.icon,
.icon-nor,
.icon-big,
.icon-signal {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0;
  height: 16px;
  width: 16px;
  background: url(../../../images/icon-16.png);
}

/* line 36, ../../sass/ui/ui_icon.scss */
.icon-nor {
  background: url(../../../images/icon-32.png) no-repeat;
  width: 32px;
  height: 32px;
}

/* line 36, ../../sass/ui/ui_icon.scss */
.icon-big {
  background: url(../../../images/icon-48.png) no-repeat;
  width: 48px;
  height: 48px;
}

/* line 36, ../../sass/ui/ui_icon.scss */
.icon-signal {
  background: url(../../../images/icon-signal.png) no-repeat;
}

/*-------------icon default-------------*/
/* line 52, ../../sass/ui/ui_icon.scss */
.icon-warn {
  background-position: 0 0;
}

/* line 55, ../../sass/ui/ui_icon.scss */
.icon-succ {
  background-position: -16px 0;
}

/* line 58, ../../sass/ui/ui_icon.scss */
.icon-stop {
  background-position: -80px 0;
}

/* line 61, ../../sass/ui/ui_icon.scss */
.icon-info {
  background-position: -32px 0;
}

/* line 64, ../../sass/ui/ui_icon.scss */
.icon-ques {
  background-position: -48px 0;
}

/* line 67, ../../sass/ui/ui_icon.scss */
.icon-error {
  background-position: -64px -32px;
}

/* line 70, ../../sass/ui/ui_icon.scss */
.icon-close {
  width: 15px;
  height: 15px;
  background-position: -48px -80px;
  cursor: pointer;
}
/* line 75, ../../sass/ui/ui_icon.scss */
.icon-close:hover {
  background-position: -64px -80px;
}

/* line 79, ../../sass/ui/ui_icon.scss */
.icon-edit {
  background-position: -80px -32px;
}

/* line 82, ../../sass/ui/ui_icon.scss */
.icon-noread {
  background-position: 0 -48px;
}

/* line 85, ../../sass/ui/ui_icon.scss */
.icon-read {
  background-position: -16px -48px;
}

/* line 88, ../../sass/ui/ui_icon.scss */
.icon-reply {
  background-position: -32px -48px;
}

/* line 91, ../../sass/ui/ui_icon.scss */
.icon-alert {
  background-position: -48px -48px;
}

/* line 94, ../../sass/ui/ui_icon.scss */
.icon-pass {
  background-position: -64px -48px;
}

/* line 97, ../../sass/ui/ui_icon.scss */
.icon-phone-gray {
  width: 14px;
  height: 12px;
  background-position: -49px -66px;
}

/* line 102, ../../sass/ui/ui_icon.scss */
.icon-msg {
  width: 14px;
  height: 14px;
  background-position: -65px -65px;
}

/* line 107, ../../sass/ui/ui_icon.scss */
.icon-worker {
  width: 14px;
  height: 14px;
  background-position: -81px -65px;
}

/* line 112, ../../sass/ui/ui_icon.scss */
.icon-warn-gray {
  width: 12px;
  height: 12px;
  background-position: -34px -66px;
}

/* line 117, ../../sass/ui/ui_icon.scss */
.icon-add {
  width: 12px;
  height: 12px;
  background-position: 0 -84px;
}

/* line 122, ../../sass/ui/ui_icon.scss */
.icon-plus {
  width: 12px;
  height: 12px;
  background-position: -16px -84px;
}

/* line 127, ../../sass/ui/ui_icon.scss */
.icon-gt {
  width: 5px;
  height: 9px;
  background-position: -22px -100px;
}

/* line 132, ../../sass/ui/ui_icon.scss */
.icon-star-16 {
  background-position: -48px -96px;
}

/* line 135, ../../sass/ui/ui_icon.scss */
.icon-star-14 {
  width: 12px;
  height: 14px;
  background-position: -66px -97px;
}

/*-------------icon certification-------------*/
/* line 142, ../../sass/ui/ui_icon.scss */
.cert-sign .icon {
  margin-right: 3px;
}

/* line 146, ../../sass/ui/ui_icon.scss */
.icon-basic {
  background-position: -16px -16px;
}

/* line 149, ../../sass/ui/ui_icon.scss */
.icon-ccic {
  background-position: -32px -16px;
}

/* line 152, ../../sass/ui/ui_icon.scss */
.icon-senior {
  background-position: -48px -16px;
}

/* line 155, ../../sass/ui/ui_icon.scss */
.icon-addr {
  background-position: -32px -32px;
}

/* line 158, ../../sass/ui/ui_icon.scss */
.icon-id {
  background-position: -64px -16px;
}

/* line 161, ../../sass/ui/ui_icon.scss */
.icon-b-buyer {
  width: 18px;
  height: 18px;
  background-position: 0 -64px;
}

/* line 166, ../../sass/ui/ui_icon.scss */
.icon-pay {
  background-position: -32px -80px;
}

/* line 169, ../../sass/ui/ui_icon.scss */
.icon-report {
  background-position: 0 -112px;
}

/* line 172, ../../sass/ui/ui_icon.scss */
.icon-report-history {
  background-position: -16px -112px;
}

/* line 175, ../../sass/ui/ui_icon.scss */
.icon-honest {
  background-position: -32px -112px;
}

/*-------------icon normal 32X32-------------*/
/* line 184, ../../sass/ui/ui_icon.scss */
.icon-nor-error {
  background-position: 0 0;
}

/* line 187, ../../sass/ui/ui_icon.scss */
.icon-nor-info {
  background-position: -64px 0;
}

/* line 190, ../../sass/ui/ui_icon.scss */
.icon-nor-warn {
  background-position: -64px -32px;
}

/* line 193, ../../sass/ui/ui_icon.scss */
.icon-nor-succ {
  background-position: -32px 0;
}

/* line 196, ../../sass/ui/ui_icon.scss */
.icon-nor-ques {
  background-position: 0 -32px;
}

/* line 199, ../../sass/ui/ui_icon.scss */
.icon-nor-stop {
  background-position: -32px -32px;
}

/*-------------icon big 48X48-------------*/
/* line 208, ../../sass/ui/ui_icon.scss */
.icon-big-warn {
  background-position: 0 0;
}

/* line 211, ../../sass/ui/ui_icon.scss */
.icon-big-succ {
  background-position: -48px 0;
}

/* line 214, ../../sass/ui/ui_icon.scss */
.icon-big-info {
  background-position: -96px 0;
}

/* line 217, ../../sass/ui/ui_icon.scss */
.icon-big-error {
  background-position: 0 -48px;
}

/* line 220, ../../sass/ui/ui_icon.scss */
.icon-big-stop {
  background-position: -48px -48px;
}

/* line 223, ../../sass/ui/ui_icon.scss */
.icon-big-ques {
  background-position: -96px -48px;
}

/*-------------icon signal -------------*/
/* line 231, ../../sass/ui/ui_icon.scss */
.icon-manual-check {
  background-position: 0 -12px;
  height: 16px;
  width: 50px;
}

/* line 236, ../../sass/ui/ui_icon.scss */
.icon-invite {
  background-position: 0 -28px;
  height: 16px;
  width: 50px;
}

/* line 241, ../../sass/ui/ui_icon.scss */
.icon-new {
  width: 20px;
  height: 12px;
  background-position: 0 0;
}
