@charset "UTF-8";
/* line 15, ../../sass/ui/ui_pager.scss */
.pager {
  margin: 40px 0;
  text-align: center;
}

/* line 27, ../../sass/ui/ui_pager.scss */
.pager-nav a {
  display: inline-block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  margin-right: 2px;
  border: 1px solid #cccccc;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #fbfbfb 0, #f4f4f4 100%);
  background-image: -webkit-linear-gradient(top, #fbfbfb 0, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 0, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #fbfbfb 0%, #f4f4f4 100%);
}
/* line 37, ../../sass/ui/ui_pager.scss */
.pager-nav a:link, .pager-nav a:visited {
  color: #333333;
}
/* line 38, ../../sass/ui/ui_pager.scss */
.pager-nav a:hover {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #ececec 100%);
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #ececec 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #ececec 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0%, #ececec 100%);
}
/* line 44, ../../sass/ui/ui_pager.scss */
.pager-nav .pager-pre,
.pager-nav .pager-next {
  width: 63px;
  *position: relative;
  *bottom: 1px;
}
/* line 51, ../../sass/ui/ui_pager.scss */
.pager-nav a.current {
  border-color: #dc4f53;
  background-color: #ed5258;
  background-image: none;
  font-weight: bold;
}
/* line 57, ../../sass/ui/ui_pager.scss */
.pager-nav a.current:link, .pager-nav a.current:visited {
  color: #fff;
}
/* line 58, ../../sass/ui/ui_pager.scss */
.pager-nav a.current:hover {
  background-color: #ed5258;
  cursor: default;
}
/* line 60, ../../sass/ui/ui_pager.scss */
.pager-nav .split {
  display: inline-block;
  width: 25px;
  height: 35px;
  line-height: 35px;
  color: #4d4d4d;
  font-weight: bold;
}

/* line 70, ../../sass/ui/ui_pager.scss */
.pager-num {
  margin: 10px 0;
}
/* line 72, ../../sass/ui/ui_pager.scss */
.pager-num a {
  margin-left: 5px;
}
/* line 75, ../../sass/ui/ui_pager.scss */
.pager-num a:link, .pager-num a:visited {
  color: #4d4d4d;
}
/* line 76, ../../sass/ui/ui_pager.scss */
.pager-num a:hover {
  color: #e04b43;
}
/* line 78, ../../sass/ui/ui_pager.scss */
.pager-num .current {
  font-weight: bold;
}

/* vo pagenav */
/* line 87, ../../sass/ui/ui_pager.scss */
.page {
  margin: 10px auto;
  color: #666;
  overflow: hidden;
  zoom: 1;
}
/* line 93, ../../sass/ui/ui_pager.scss */
.page a:link,
.page a:visited {
  color: #666;
}
/* line 94, ../../sass/ui/ui_pager.scss */
.page a:hover {
  color: #05c;
  text-decoration: none;
}
/* line 96, ../../sass/ui/ui_pager.scss */
.page .pageAmount {
  float: left;
  height: 26px;
  line-height: 26px;
}
/* line 100, ../../sass/ui/ui_pager.scss */
.page .pageAmount .now {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #d9d9d9;
  background-color: #f0f0f0;
  *vertical-align: -1px;
}
/* line 111, ../../sass/ui/ui_pager.scss */
.page #pageCountNumber {
  margin-left: 5px;
  _vertical-align: 2px;
}

/* line 117, ../../sass/ui/ui_pager.scss */
.page-nav-lst {
  float: right;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
  word-spacing: -4px;
  display: table;
}
/* line 124, ../../sass/ui/ui_pager.scss */
.page-nav-lst a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 9px;
  margin-left: -1px;
  text-align: center;
  font-family: Arial;
  border: 1px solid #dadada;
  border-right: none;
  background-color: #f6f6f6;
  font-weight: bold;
  word-spacing: 0;
  vertical-align: middle;
  *display: inline;
  *margin-left: 0;
  *height: 23px;
  *line-height: 23px;
  *zoom: 1;
}
/* line 147, ../../sass/ui/ui_pager.scss */
.page-nav-lst a:hover,
.page-nav-lst .now {
  background-color: #1770b4;
  color: #fff;
  border-color: #1770b4;
}
/* line 154, ../../sass/ui/ui_pager.scss */
.page-nav-lst .now:link, .page-nav-lst .now:visited {
  color: #fff;
  cursor: default;
}
/* line 155, ../../sass/ui/ui_pager.scss */
.page-nav-lst .now:hover {
  text-decoration: none;
}
/* line 158, ../../sass/ui/ui_pager.scss */
.page-nav-lst .nextPage,
.page-nav-lst .prePage {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  font-weight: normal;
}
/* line 164, ../../sass/ui/ui_pager.scss */
.page-nav-lst .nextPage:hover,
.page-nav-lst .prePage:hover {
  background-color: #f6f6f6;
  color: #05c;
  border-color: #dadada;
}
/* line 169, ../../sass/ui/ui_pager.scss */
.page-nav-lst .prePage {
  *margin-right: -3px;
}

/* line 175, ../../sass/ui/ui_pager.scss */
.page-nav .pageBtn {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  font-weight: normal;
}
/* line 179, ../../sass/ui/ui_pager.scss */
.page-nav .pageBtn:hover {
  background-color: #f6f6f6;
  color: #05c;
  border-color: #dadada;
}

/* line 187, ../../sass/ui/ui_pager.scss */
.page-nav-form {
  float: right;
  line-height: 26px;
  vertical-align: middle;
}
/* line 191, ../../sass/ui/ui_pager.scss */
.page-nav-form .txt-mini {
  width: 28px;
  margin: 0 3px;
}
/* line 195, ../../sass/ui/ui_pager.scss */
.page-nav-form .pageBtn {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
  margin: 0;
  color: #666;
  cursor: pointer;
  *overflow: visible;
}
/* line 204, ../../sass/ui/ui_pager.scss */
.page-nav-form .pageBtn:hover {
  color: #05c;
  text-decoration: underline;
}
/* line 209, ../../sass/ui/ui_pager.scss */
.page-nav-form .text {
  height: 22px;
  border: 1px solid #cccccc;
  overflow: hidden;
  padding: 0 2px;
}
