@charset "UTF-8";
/* line 12, ../../sass/ui/ui_pop.scss */
.alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
  z-index: 998;
  display: none;
}

/* line 20, ../../sass/ui/ui_pop.scss */
.pop {
  display: none;
  width: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}
/* line 26, ../../sass/ui/ui_pop.scss */
.pop .pop-hd {
  padding: 0 25px;
  height: 50px;
  background-color: #49e;
  color: #fff;
  overflow: hidden;
}
/* line 32, ../../sass/ui/ui_pop.scss */
.pop .pop-hd h3 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}
/* line 38, ../../sass/ui/ui_pop.scss */
.pop .pop-hd .iconfont-close {
  float: right;
  margin-top: 12px;
  cursor: pointer;
}
/* line 44, ../../sass/ui/ui_pop.scss */
.pop .pop-ft {
  padding: 15px 0 10px;
  text-align: center;
}
/* line 47, ../../sass/ui/ui_pop.scss */
.pop .pop-ft .btn {
  margin: 0 5px;
}

/* line 53, ../../sass/ui/ui_pop.scss */
.pop-alert {
  width: 300px;
}
/* line 55, ../../sass/ui/ui_pop.scss */
.pop-alert .pop-bd {
  font-size: 14px;
  padding: 20px;
}

/* line 61, ../../sass/ui/ui_pop.scss */
.tip-alpha {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 100;
}

/* line 67, ../../sass/ui/ui_pop.scss */
.pop-m {
  width: 600px;
}
