@charset "UTF-8";
/* line 61, ../../sass/base/_mixin.scss */
.tab-menu:before, .tab-menu:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* line 68, ../../sass/base/_mixin.scss */
.tab-menu:after {
  clear: both;
}
/* line 8, ../../sass/ui/ui_tab.scss */
.tab-menu > li {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
  cursor: pointer;
}
/* line 18, ../../sass/ui/ui_tab.scss */
.tab-menu .on {
  background-color: #fff;
}

/* line 23, ../../sass/ui/ui_tab.scss */
.tab-con {
  padding: 40px 50px;
}
